Repository microsoft/finops-toolkit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flanakin, @arthurclares, @microsoft/finops-toolkit-board, @microsoft/finops-toolkit-council, @ro100e, @kevindlr, @msbrett, @helderpinto, @nteyan, @ivanmtta, @jamelachahbar

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

# Global rule
#* @microsoft/finops-toolkit
* @flanakin @arthurclares

# DevOps folders
#.build @TODO
#.github @TODO
#docs-wiki @TODO
#src/scripts @TODO

# General
#docs/help.md @TODO
#docs/README.md @TODO
#docs-mslearn/toolkit/help @TODO
#docs-mslearn/toolkit/*.md @TODO
#docs-wiki @TODO

# FTK governing board
docs-mslearn/toolkit/roadmap.md @microsoft/finops-toolkit-board
docs-wiki/Advisory-council.md @microsoft/finops-toolkit-board
docs-wiki/Governing-board.md @microsoft/finops-toolkit-board
docs-wiki/Release-process.md @microsoft/finops-toolkit-board

# FTK advisory council
.github/CODEOWNERS @microsoft/finops-toolkit-council
docs-wiki/Coding-guidelines.md @microsoft/finops-toolkit-council
docs-wiki/Dev-process.md @microsoft/finops-toolkit-council
docs-wiki/Support-escalations.md @microsoft/finops-toolkit-board

# Alerts
docs/alerts.md @ro100e @arthurclares @flanakin
docs-mslearn/toolkit/alerts @ro100e @arthurclares @flanakin
src/templates/finops-alerts @ro100e

# Bicep
#docs/bicep.md @TODO
#docs-mslearn/toolkit/bicep-registry @TODO
#src/bicep-registry @TODO

# Guide
docs/guide.md @flanakin
docs-mslearn/best-practices @arthurclares @flanakin
docs-mslearn/framework @arthurclares @flanakin @kevindlr
docs-mslearn/focus @flanakin

# Fabric
docs-mslearn/fabric @flanakin

# Hubs
docs/hubs.md @msbrett @flanakin @arthurclares
docs-mslearn/toolkit/hubs @msbrett @flanakin @arthurclares
src/templates/finops-hub @msbrett @flanakin @arthurclares

# Open data
docs/open-data.md @flanakin
docs-mslearn/toolkit/open-data.md @flanakin
src/open-data @flanakin

# Optimization Engine
docs/optimization-engine.md @helderpinto @arthurclares @flanakin
docs-mslearn/toolkit/optimization-engine @helderpinto @arthurclares @flanakin
src/optimization-engine @helderpinto

# Power BI
#docs/power-bi.md @TODO
#docs-mslearn/toolkit/power-bi @TODO
#src/power-bi @TODO
src/power-bi/*/Governance* @nteyan

# PowerShell
#docs/powershell.md @TODO
#src/powershell @TODO
#docs-mslearn/toolkit/powershell @TODO
#src/powershell @TODO

# Web
src/web @ivanmtta @jamelachahbar @flanakin

# Workbooks
docs/workbooks.md @arthurclares @nteyan @flanakin
docs-mslearn/toolkit/workbooks @arthurclares @nteyan @flanakin
src/templates/finops-workbooks @arthurclares @nteyan
src/workbooks/governance @nteyan
src/workbooks/optimization @arthurclares

Fix resource ID generation warning
  src/templates/finops-alerts/modules/logicApp.bicep
Owners: @ro100e

remove test changes
  src/open-data/Regions.csv
  src/powershell/Private/Get-OpenDataRegion.ps1
  src/scripts/Test-PowerShell.ps1
Owners: @flanakin, @arthurclares

Fix console errors in templates (#1461)
  src/templates/finops-alerts/.buildignore
  src/templates/finops-alerts/modules/logicApp.bicep
  src/templates/finops-hub/modules/hub.bicep
Owners: @ro100e, @msbrett, @flanakin, @arthurclares

Track hubs deployment options
  src/templates/finops-hub/modules/hub.bicep
Owners: @msbrett, @flanakin, @arthurclares

Track hubs deployment options
  src/templates/finops-hub/modules/hub.bicep
Owners: @msbrett, @flanakin, @arthurclares

Update README.md
  src/wacoa/README.md
Owners: @flanakin, @arthurclares

Update README.md (#1465)
  src/wacoa/README.md
Owners: @flanakin, @arthurclares

Track hubs deployment options
  src/templates/finops-hub/modules/hub.bicep
Owners: @msbrett, @flanakin, @arthurclares

Update deployment files
  docs/deploy/finops-alerts-0.9.json
  docs/deploy/finops-alerts-latest.json
  docs/deploy/finops-hub-0.9.json
  docs/deploy/finops-hub-latest.json
  src/scripts/Package-Toolkit.ps1
Owners: @flanakin, @arthurclares

Update deployment files
  docs/deploy/finops-alerts-0.9.json
  docs/deploy/finops-alerts-latest.json
  docs/deploy/finops-hub-0.9.json
  docs/deploy/finops-hub-latest.json
  src/scripts/Package-Toolkit.ps1
Owners: @flanakin, @arthurclares

Auto Comment on OpenData CI Failure (#1301)
  .github/workflows/opendata-ci.yml
Owners: @flanakin, @arthurclares
