Repository microsoft/finops-toolkit, pull requests merged in 2023-07, with the labels that each got.

#198 Arthurclares workbook 1.1
  src/workbooks/optimization/workbook.json
Labels: Solution: Workbooks

#191 Add file exclusions to the Add-CopyrightHeader script
  src/scripts/Add-CopyrightHeader.ps1
Labels: Needs: Review 👀, Area: PowerShell

#204 AQT publishing fixes
  src/scripts/Publish-Toolkit.ps1
  src/templates/finops-hub/README.md
  src/workbooks/optimization/scaffold.json
Labels: Needs: Review 👀, Solution: Workbooks, Solution: FinOps hub

#202 Add Merge-DevBranch script
  src/scripts/Merge-DevBranch.ps1
Labels: Area: GitHub, Needs: Review 👀, Area: PowerShell

#207 Bugfixes and overall experience improvements
  src/workbooks/governance/workbook.json
Labels: Solution: Workbooks

#212 Description added on all tabs / Usage and limits tab updated
  src/workbooks/governance/workbook.json
Labels: Area: Documentation, Solution: Workbooks

#210 Auto-abort merge when there's a conflict in silent mode
  src/scripts/Merge-DevBranch.ps1
Labels: Needs: Review 👀, Area: PowerShell

#214 Documentation updates and hiding queries with missing parameters
  src/workbooks/governance/workbook.json
Labels: Area: Documentation, Needs: Attention :wave:, Solution: Workbooks

#209 Add missing changelog entry
  docs/changelog.md
Labels: Area: Documentation, Micro PR 🔬, Needs: Review 👀, Solution: Workbooks

#208 Interim normalized schema
  src/templates/finops-hub/modules/dataFactory.bicep
  src/templates/finops-hub/schema/README.md
  src/templates/finops-hub/schema/schema_ea_normalized.json
  src/templates/finops-hub/schema/schema_mca_normalized.json
Labels: Area: Data factory, Solution: FinOps hub

#226 PS module to add EA permissions to FinOps toolkit service principal
  src/powershell/FinOpsToolkit.psm1
  src/powershell/FinOpsToolkit.strings.psd1
Labels: Area: PowerShell, Solution: FinOps hub

#225 Update Build-Toolkit to remove scope from Bicep Registry modules
  src/scripts/Build-Toolkit.ps1
Labels: Micro PR 🔬, Area: ARM, Solution: Bicep Registry

#224 Add support for building single-scoped Bicep Registry modules
  src/scripts/Build-Bicep.ps1
Labels: Micro PR 🔬, Solution: Bicep Registry

#218 Add missing copyright headers
  src/powershell/Tests/Meta/Meta.Tests.ps1
  src/powershell/Tests/Unit/FinOpsToolkit.Tests.ps1
  src/scripts/Start-PesterTests.ps1
Labels: Area: PowerShell
