Repository microsoft/finops-toolkit, pull requests merged in 2023-04, with the labels that each got.

#98 Single module for all ADLSv2 datasets
  src/modules/datasets/adlsv2.bicep
  src/modules/datasets/ms_cm_exports.bicep
Labels: Area: Data factory, Area: ARM, Status: ▶️ Ready

#100 Module for ADF blob event trigger
  src/modules/triggers/adlsv2.bicep
Labels: Area: Data factory, Area: ARM, Status: ▶️ Ready

#111 Derive dataset name from container and data format.
  src/modules/datasets/adlsv2.bicep
Labels: Area: Data factory, Area: ARM

#101 ADF Extract and Transform pipelines
  src/modules/pipelines/msexports_extract.bicep
  src/modules/pipelines/msexports_transform.bicep
Labels: Area: Data factory, Area: ARM

#114 Documentation updates
  CONTRIBUTING.md
  README.md
  docs/README.md
  docs/bicep-registry/README.md
  docs/changelog.md
  docs/deploy/README.md
  docs/finops-hub/README.md
  docs/finops-hub/data-dictionary.md
  docs/finops-hub/data-processing.md
  docs/finops-hub/modules/README.md
  docs/finops-hub/modules/export.md
  docs/finops-hub/modules/hub.md
  docs/finops-hub/reports/README.md
  docs/finops-hub/reports/commitment-discounts.md
  docs/finops-hub/reports/cost-summary.md
  docs/finops-hub/template.md
  docs/optimization-workbook/README.md
  docs/templates/README.md
  docs/templates/modules/README.md
  src/README.md
  src/architecture.md
  src/bicep-registry/README.md
  src/branching.md
  src/code.md
  src/issues.md
  src/modules/README.md
  src/reports/README.md
  src/scripts/README.md
  src/templates/README.md
Labels: Area: Documentation

#117 Hub Module
  src/modules/Microsoft.Storage/storageAccounts/blobServices/containers/deploy.bicep
  src/modules/Microsoft.Storage/storageAccounts/blobServices/containers/readme.md
  src/modules/Microsoft.Storage/storageAccounts/blobServices/containers/version.json
  src/modules/Microsoft.Storage/storageAccounts/blobServices/deploy.bicep
  src/modules/Microsoft.Storage/storageAccounts/blobServices/readme.md
  src/modules/Microsoft.Storage/storageAccounts/blobServices/version.json
  src/modules/Microsoft.Storage/storageAccounts/deploy.bicep
  src/modules/Microsoft.Storage/storageAccounts/readme.md
  src/modules/Microsoft.Storage/storageAccounts/version.json
  src/modules/datasets/adlsv2.bicep
  src/modules/hub.bicep
  src/templates/finops-hub/main.bicep
Labels: Area: Data factory, Area: ARM, Needs: Review 👀, Status: ▶️ Ready

#109 Templatize module files
  src/bicep-registry/.scaffold/README.md
  src/bicep-registry/.scaffold/main.json
  src/bicep-registry/.scaffold/metadata.json
  src/bicep-registry/.scaffold/version.json
  src/bicep-registry/README.md
  src/bicep-registry/scheduled-action/README.md
  src/bicep-registry/scheduled-action/metadata.json
  src/bicep-registry/scheduled-action/scaffold.json
  src/scripts/Build-Bicep.ps1
  src/scripts/Build-Toolkit.ps1
  src/scripts/README.md
Labels: Area: ARM, Needs: Review 👀, Area: Bicep Registry

#115 Create New-FeatureBranch script
  src/README.md
  src/scripts/New-FeatureBranch.ps1
Labels: Area: GitHub, Needs: Review 👀

#120 Update scheduled action module version
  src/bicep-registry/scheduled-action/scaffold.json
Labels: Micro PR 🔬, Needs: Review 👀, Area: Bicep Registry
