Repository microsoft/finops-toolkit, pull requests merged in 2023-11, with the labels that each got.

#400 Remove-FinOpsHubScope
  src/powershell/Public/Deploy-FinOpsHub.ps1
  src/powershell/Public/Remove-FinOpsHubScope.ps1
Labels: Needs: Review 👀, Area: PowerShell, Solution: FinOps hubs

#442 Apply lint rules to open data commands
  src/powershell/Private/Get-FinOpsPricingUnitsData.ps1
  src/powershell/Private/Get-OpenDataPricingUnit.ps1
  src/powershell/Private/Get-OpenDataPricingUnits.ps1
  src/powershell/Private/Get-OpenDataRegion.ps1
  src/powershell/Private/Get-OpenDataRegions.ps1
  src/powershell/Private/Get-OpenDataService.ps1
  src/powershell/Private/Get-OpenDataServices.ps1
  src/powershell/Public/Get-FinOpsPricingUnit.ps1
  src/powershell/Public/Get-FinOpsRegion.ps1
  src/powershell/Public/Get-FinOpsService.ps1
  src/powershell/Tests/Unit/Get-FinOpsPricingUnit.Tests.ps1
  src/powershell/Tests/Unit/Get-FinOpsPricingUnitsData.Tests.ps1
  src/powershell/Tests/Unit/Get-FinOpsRegion.Tests.ps1
  src/powershell/Tests/Unit/Get-FinOpsRegionsData.Tests.ps1
  src/powershell/Tests/Unit/Get-FinOpsService.Tests.ps1
  src/powershell/Tests/Unit/Get-OpenDataPricingUnit.Tests.ps1
  src/powershell/Tests/Unit/Get-OpenDataPricingUnits.Tests.ps1
  src/powershell/Tests/Unit/Get-OpenDataRegion.Tests.ps1
  src/powershell/Tests/Unit/Get-OpenDataService.Tests.ps1
  src/scripts/Build-OpenData.ps1
Labels: Needs: Review 👀, Area: PowerShell, Solution: Open data

#445 Fix Get-FinOpsCostExport doc typo
  docs/powershell/cost/Get-FinOpsCostExport.md
Labels: Area: Documentation, Micro PR 🔬, Needs: Review 👀, Area: PowerShell

#456 Make Power BI optional in Package-Toolkit.ps1
  src/scripts/Package-Toolkit.ps1
  src/scripts/README.md
Labels: Area: DevOps, Needs: Review 👀

#458 Add Register-FinOpsHubProviders unit tests
  src/powershell/Public/Initialize-FinOpsHubDeployment.ps1
  src/powershell/Public/Register-FinOpsHubProviders.ps1
  src/powershell/Tests/Unit/Register-FinOpsHubProviders.Tests.ps1
Labels: Needs: Review 👀, Area: PowerShell

#460 Update hubs int tests
  docs/powershell/hubs/Deploy-FinOpsHub.md
  docs/powershell/hubs/Get-FinOpsHub.md
  docs/powershell/hubs/Initialize-FinOpsHubDeployment.md
  docs/powershell/hubs/Register-FinOpsHubProviders.md
  docs/powershell/hubs/Remove-FinOpsHub.md
  src/powershell/Tests/Integration/Hubs.Tests.ps1
Labels: Needs: Review 👀, Area: PowerShell

#461 Rename FOCUS int test file
  src/powershell/Tests/Integration/FOCUS.Tests.ps1
  src/scripts/Test-PowerShell.ps1
Labels: Needs: Review 👀

#462 Add exports int tests
  docs/powershell/cost/Get-FinOpsCostExport.md
  docs/powershell/cost/Remove-FinOpsCostExport.md
  src/powershell/Tests/Integration/CostExports.Tests.ps1
  src/scripts/Test-PowerShell.ps1
Labels: Needs: Review 👀, Area: PowerShell

#463 Be more explicit in Get-FinOpsToolkitVersion int test
  src/powershell/Tests/Integration/Get-FinOpsToolkitVersion.Tests.ps1
  src/powershell/Tests/Integration/Toolkit.Tests.ps1
  src/powershell/Tests/Unit/Toolkit.Tests.ps1
  src/scripts/Test-PowerShell.ps1
Labels: Needs: Review 👀

#465 Doc updates
  docs/_config.yml
  docs/bicep-registry/README.md
  docs/bicep-registry/scheduled-actions.md
  docs/open-data/README.md
  docs/power-bi/README.md
  docs/powershell/README.md
Labels: Area: Documentation, Needs: Review 👀

#467 Update Deploy-FinOpsHub documentation
  docs/powershell/hubs/Deploy-FinOpsHub.md
  src/powershell/Public/Deploy-FinOpsHub.ps1
Labels: Area: Documentation, Needs: Review 👀, Area: PowerShell, Solution: FinOps hubs

#469 Fix broken links in docs
  .vscode/settings.json
  docs/changelog.md
  docs/finops-hub/README.md
  docs/power-bi/README.md
  docs/power-bi/setup.md
Labels: Area: Documentation, Area: Power BI, Needs: Review 👀
