Repository microsoft/finops-toolkit, pull requests merged in 2023-05, with the labels that each got.

#122 Build + publish to Azure Quickstart Templates repo
  src/scripts/Build-Toolkit.ps1
  src/scripts/Deploy-Toolkit.ps1
  src/scripts/Publish-Toolkit.ps1
  src/templates/README.md
  src/templates/finops-hub/README.md
  src/templates/finops-hub/createUiDefinition.json
  src/templates/finops-hub/main.bicep
  src/templates/finops-hub/metadata.json
  src/templates/finops-hub/modules/hub.bicep
  src/templates/finops-hub/reports/README.md
Labels: Needs: Review 👀, Area: PowerShell

#129 Enable granular billing (usage by pipeline)
  src/templates/finops-hub/modules/Microsoft.DataFactory/factories/deploy.bicep
Labels: Micro PR 🔬, Area: Data factory, Needs: Review 👀

#127 Fix deployment warnings
  src/templates/finops-hub/modules/Microsoft.DataFactory/factories/.bicep/nested_roleAssignments.bicep
  src/templates/finops-hub/modules/Microsoft.DataFactory/factories/deploy.bicep
  src/templates/finops-hub/modules/Microsoft.KeyVault/vaults/.bicep/nested_roleAssignments.bicep
  src/templates/finops-hub/modules/datasets/adlsv2.bicep
Labels: Type: Bug 🐛, Micro PR 🔬, Area: ARM, Needs: Review 👀, Solution: FinOps hub

#128 Auto-start the msexports extract pipeline
  src/templates/finops-hub/main.bicep
  src/templates/finops-hub/modules/hub.bicep
  src/templates/finops-hub/modules/scripts/Copy-FileToAzureBlob.ps1
  src/templates/finops-hub/modules/scripts/Start-Triggers.ps1
  src/templates/finops-hub/modules/triggers/adlsv2.bicep
Labels: Area: Data factory, Area: ARM, Needs: Review 👀, Area: PowerShell, Solution: FinOps hub

#132 Add cost optimization workbook
  src/scripts/Build-Toolkit.ps1
  src/scripts/Build-Workbook.ps1
  src/scripts/Deploy-Toolkit.ps1
  src/workbooks/.scaffold/main.bicep
  src/workbooks/README.md
  src/workbooks/optimization/scaffold.json
  src/workbooks/optimization/workbook.json
Labels: Type: Feature 💎, Needs: Review 👀, Solution: Workbooks

#133 Clean up Key Vault bicep
  src/templates/finops-hub/modules/Microsoft.KeyVault/vaults/accessPolicies/deploy.bicep
  src/templates/finops-hub/modules/Microsoft.KeyVault/vaults/accessPolicies/readme.md
  src/templates/finops-hub/modules/Microsoft.KeyVault/vaults/accessPolicies/version.json
  src/templates/finops-hub/modules/Microsoft.KeyVault/vaults/deploy.bicep
  src/templates/finops-hub/modules/Microsoft.KeyVault/vaults/keys/.bicep/nested_roleAssignments.bicep
  src/templates/finops-hub/modules/Microsoft.KeyVault/vaults/keys/deploy.bicep
  src/templates/finops-hub/modules/Microsoft.KeyVault/vaults/keys/readme.md
  src/templates/finops-hub/modules/Microsoft.KeyVault/vaults/keys/version.json
  src/templates/finops-hub/modules/Microsoft.KeyVault/vaults/readme.md
  src/templates/finops-hub/modules/Microsoft.KeyVault/vaults/secrets/.bicep/nested_roleAssignments.bicep
  src/templates/finops-hub/modules/Microsoft.KeyVault/vaults/secrets/deploy.bicep
  src/templates/finops-hub/modules/Microsoft.KeyVault/vaults/secrets/readme.md
  src/templates/finops-hub/modules/Microsoft.KeyVault/vaults/secrets/version.json
  src/templates/finops-hub/modules/Microsoft.KeyVault/vaults/version.json
  src/templates/finops-hub/modules/Microsoft.Resources/deploymentScripts/deploy.bicep
  src/templates/finops-hub/modules/Microsoft.Resources/deploymentScripts/readme.md
  src/templates/finops-hub/modules/hub.bicep
  src/templates/finops-hub/modules/secrets/storageaccountsecret.bicep
Labels: Type: Cleanup, Area: ARM, Needs: Review 👀, Solution: FinOps hub

#134 Clean up Data Factory bicep
  src/templates/finops-hub/modules/Microsoft.DataFactory/factories/.bicep/nested_roleAssignments.bicep
  src/templates/finops-hub/modules/Microsoft.DataFactory/factories/deploy.bicep
  src/templates/finops-hub/modules/Microsoft.DataFactory/factories/integrationRuntimes/deploy.bicep
  src/templates/finops-hub/modules/Microsoft.DataFactory/factories/integrationRuntimes/readme.md
  src/templates/finops-hub/modules/Microsoft.DataFactory/factories/integrationRuntimes/version.json
  src/templates/finops-hub/modules/Microsoft.DataFactory/factories/managedVirtualNetworks/deploy.bicep
  src/templates/finops-hub/modules/Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints/deploy.bicep
  src/templates/finops-hub/modules/Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints/readme.md
  src/templates/finops-hub/modules/Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints/version.json
  src/templates/finops-hub/modules/Microsoft.DataFactory/factories/managedVirtualNetworks/readme.md
  src/templates/finops-hub/modules/Microsoft.DataFactory/factories/managedVirtualNetworks/version.json
  src/templates/finops-hub/modules/Microsoft.DataFactory/factories/readme.md
  src/templates/finops-hub/modules/Microsoft.DataFactory/factories/version.json
  src/templates/finops-hub/modules/hub.bicep
Labels: Type: Cleanup, Area: ARM, Needs: Review 👀, Solution: FinOps hub

#138 Add -Demo option to Deploy-Toolkit
  src/scripts/Deploy-Toolkit.ps1
Labels: Area: PowerShell, Solution: FinOps hub

#137 Reorganize all bicep modules
  src/templates/finops-hub/modules/Microsoft.DataFactory/factories/deploy.bicep
  src/templates/finops-hub/modules/Microsoft.KeyVault/vaults/.bicep/nested_roleAssignments.bicep
  src/templates/finops-hub/modules/dataFactory.bicep
  src/templates/finops-hub/modules/datasets/adlsv2.bicep
  src/templates/finops-hub/modules/hub.bicep
  src/templates/finops-hub/modules/keyVault.bicep
  src/templates/finops-hub/modules/linkedservices/linkedservice.bicep
  src/templates/finops-hub/modules/pipelines/msexports_extract.bicep
  src/templates/finops-hub/modules/pipelines/msexports_transform.bicep
  src/templates/finops-hub/modules/storage.bicep
  src/templates/finops-hub/modules/triggers/adlsv2.bicep
Labels: Type: Cleanup, Area: ARM, Solution: FinOps hub

#136 Update default settings.json content
  src/templates/finops-hub/modules/scripts/Copy-FileToAzureBlob.ps1
Labels: Micro PR 🔬, Type: Cleanup, Solution: FinOps hub

#140 Add Get-FinOpsToolkitVersions function
  src/powershell/FinOpsToolkit.psm1
Labels: Area: PowerShell

#147 Standardize unique string used in resource names
  src/templates/finops-hub/modules/hub.bicep
  src/templates/finops-hub/modules/keyVault.bicep
  src/templates/finops-hub/modules/storage.bicep
Labels: Area: ARM, Needs: Review 👀, Solution: FinOps hub

#148 Documentation updates for v0.0.1
  README.md
  docs/README.md
  docs/changelog.md
  docs/deploy/README.md
  docs/finops-hub/README.md
  docs/finops-hub/data-processing.md
  docs/finops-hub/modules/README.md
  docs/finops-hub/modules/export.md
  docs/finops-hub/modules/hub.md
  docs/finops-hub/reports/README.md
  docs/finops-hub/reports/commitment-discounts.md
  docs/finops-hub/reports/cost-summary.md
  docs/finops-hub/template.md
  docs/finops-hub/terms.md
  src/README.md
  src/architecture.md
  src/templates/finops-hub/modules/README.md
Labels: Area: Documentation, Needs: Review 👀, Solution: FinOps hub

#151 Reset PR policies for the needs review label
  .github/policies/pull-requests.yml
Labels: Area: GitHub

#149 Fix misspelling in output name
  src/templates/finops-hub/main.bicep
  src/templates/finops-hub/modules/hub.bicep
Labels: Micro PR 🔬, Area: ARM, Needs: Review 👀, Solution: FinOps hub

#153 Add fabricbot policy to flag PRs against main
  .github/fabricbot.json
Labels: Area: GitHub

#156 PR policy to label issues as in review
  .github/fabricbot.json
Labels: Area: GitHub

#158 Add copyright headers
  src/bicep-registry/scheduled-action/main.bicep
  src/bicep-registry/scheduled-action/test/main.test.bicep
  src/powershell/FinOpsToolkit.psm1
  src/scripts/Build-Bicep.ps1
  src/scripts/Build-Toolkit.ps1
  src/scripts/Build-Workbook.ps1
  src/scripts/Deploy-Toolkit.ps1
  src/scripts/Init-Repo.ps1
  src/scripts/New-Directory.ps1
  src/scripts/New-FeatureBranch.ps1
  src/scripts/Publish-Toolkit.ps1
  src/templates/finops-hub/main.bicep
  src/templates/finops-hub/modules/dataFactory.bicep
  src/templates/finops-hub/modules/hub.bicep
  src/templates/finops-hub/modules/keyVault.bicep
  src/templates/finops-hub/modules/scripts/Copy-FileToAzureBlob.ps1
  src/templates/finops-hub/modules/scripts/Start-Triggers.ps1
  src/templates/finops-hub/modules/storage.bicep
  src/templates/finops-hub/test/main.test.bicep
  src/workbooks/.scaffold/main.bicep
Labels: Needs: Review 👀

#161 Config Dataset
  src/templates/finops-hub/modules/dataFactory.bicep
Labels: Area: Data factory, Area: ARM

#160 Add VS Code build and deploy tasks
  .vscode/launch.json
  .vscode/tasks.json
Labels: Needs: Review 👀, Area: PowerShell

#164 Template Analyzer fixes
  src/templates/finops-hub/modules/dataFactory.bicep
  src/templates/finops-hub/modules/hub.bicep
  src/templates/finops-hub/modules/keyVault.bicep
  src/templates/finops-hub/modules/storage.bicep
Labels: Area: ARM, Needs: Review 👀, Solution: FinOps hub

#163 Move troubleshooting to a separate page
  docs/finops-hub/README.md
  docs/finops-hub/reports/README.md
  docs/finops-hub/troubleshooting.md
Labels: Area: Documentation, Needs: Review 👀, Solution: FinOps hub

#139 Optimization Workbook - Release Version - 1.0
  docs/optimization-workbook/README.md
  src/workbooks/optimization/workbook.json
Labels: Solution: Workbooks

#159 Create script to add copyright headers to files
  src/scripts/Add-CopyrightHeader.ps1
  src/scripts/README.md
Labels: Needs: Review 👀, Area: PowerShell

#166 Updates for AQT publishing
  src/scripts/Build-Toolkit.ps1
  src/scripts/Publish-Toolkit.ps1
  src/templates/README.md
  src/templates/finops-hub/.buildignore
  src/templates/finops-hub/README.md
  src/templates/finops-hub/createUiDefinition.json
  src/templates/finops-hub/metadata.json
Labels: Area: Documentation, Needs: Review 👀, Area: PowerShell, Solution: FinOps hub

#167 Updates for AQT publishing workbooks
  src/scripts/Build-Toolkit.ps1
  src/scripts/Build-Workbook.ps1
  src/scripts/Publish-Toolkit.ps1
  src/templates/README.md
  src/templates/finops-hub/README.md
  src/workbooks/.scaffold/main.bicep
  src/workbooks/.scaffold/metadata.json
  src/workbooks/.scaffold/workbook.json
  src/workbooks/README.md
  src/workbooks/optimization/README.md
  src/workbooks/optimization/createUiDefinition.json
  src/workbooks/optimization/scaffold.json
Labels: Needs: Review 👀, Solution: Workbooks
