Repository microsoft/finops-toolkit, pull requests merged in 2023-08, with the labels that each got.

#229 Upload schemas to config container
  src/templates/finops-hub/modules/dataFactory.bicep
  src/templates/finops-hub/modules/scripts/Copy-FileToAzureBlob.ps1
  src/templates/finops-hub/modules/storage.bicep
Labels: Area: Data factory, Area: ARM

#228 Build script for FinOpsToolkit module
  src/powershell/FinOpsToolkit.psm1
  src/powershell/en-US/FinOpsToolkit.strings.psd1
  src/scripts/Build-FinOpsPsModule.ps1
Labels: Area: GitHub, Area: PowerShell, Solution: FinOps hub

#245 Split FinOps module into individual files
  src/powershell/FinOpsToolkit.psm1
  src/powershell/Private/New-Directory.ps1
  src/powershell/Private/Save-FinOpsHubTemplate.ps1
  src/powershell/Public/Deploy-FinOpsHub.ps1
  src/powershell/Public/Get-FinOpsToolkitVersion.ps1
Labels: Area: PowerShell, Solution: FinOps hub

#244 Implement InvokeBuild and PSDepend
  .build/BuildHelper.psm1
  .build/BuildHelper/Build-FinOpsModule.ps1
  .build/BuildHelper/New-Directory.ps1
  .build/BuildHelper/Start-PesterTest.ps1
  .build/README.md
  .build/build.depends.psd1
  .build/build.ps1
  .build/start.ps1
  .github/workflows/dev.yml
  .gitignore
  src/scripts/Build-FinOpsPsModule.ps1
  src/scripts/Start-PesterTests.ps1
Labels: Area: GitHub, Area: PowerShell, Solution: FinOps hub

#261 Merge recent changes from Dev
  .build/BuildHelper.psm1
  .build/BuildHelper/Build-FinOpsModule.ps1
  .build/BuildHelper/New-Directory.ps1
  .build/BuildHelper/Start-PesterTest.ps1
  .build/README.md
  .build/build.depends.psd1
  .build/build.ps1
  .build/start.ps1
  .github/workflows/dev.yml
  .gitignore
  src/scripts/Build-FinOpsPsModule.ps1
  src/scripts/Start-PesterTests.ps1
Labels: Needs: Review 👀, Area: PowerShell, Solution: FinOps hub

#256 Update link to PowerShell guidelines
  src/code.md
Labels: Area: Documentation, Micro PR 🔬, Needs: Review 👀, Area: PowerShell

#263 Add vscode settings.json for powershell formatting
  .vscode/settings.json
Labels: Needs: Review 👀, Status: ▶️ Ready, Area: PowerShell

#260 Get-FinOpsHub
  src/powershell/Public/Get-FinOpsHub.ps1
  src/powershell/Tests/Unit/FinOpsToolkit.Tests.ps1
  src/powershell/Tests/Unit/Get-FinOpsHub.Tests.ps1
  src/powershell/en-US/FinOpsToolkit.strings.psd1
  src/templates/finops-hub/modules/dataFactory.bicep
  src/templates/finops-hub/modules/hub.bicep
  src/templates/finops-hub/modules/storage.bicep
Labels: Needs: Review 👀, Status: ▶️ Ready, Area: PowerShell, Solution: FinOps hub

#270 Reset issue/PR policies
  .github/policies/issues-01-triage.yml
  .github/policies/issues.yml
  .github/policies/pull-requests.yml
Labels: Area: GitHub
