Repository microsoft/finops-toolkit, pull requests merged in 2023-06, with the labels that each got.

#170 Make notificationEmail required in scheduled-action bicep module
  src/bicep-registry/scheduled-action/main.bicep
  src/bicep-registry/scheduled-action/scaffold.json
  src/bicep-registry/scheduled-action/test/main.test.bicep
  src/scripts/Build-Bicep.ps1
  src/scripts/Build-Toolkit.ps1
  src/scripts/Publish-Toolkit.ps1
Labels: Type: Bug 🐛, Solution: Bicep Registry

#171 Add function Save-FinOpsHubTemplate
  src/powershell/FinOpsToolkit.psm1
  src/powershell/FinOpsToolkit.strings.psd1
Labels: Needs: Review 👀, Area: PowerShell

#169 Create script to generate ZIP files
  src/scripts/Package-Toolkit.ps1
  src/scripts/Publish-Toolkit.ps1
Labels: Area: PowerShell

#181 Add ADX cluster/db resources
  docs/changelog.md
  docs/finops-hub/template.md
  src/templates/finops-hub/README.md
  src/templates/finops-hub/main.bicep
  src/templates/finops-hub/metadata.json
  src/templates/finops-hub/modules/README.md
  src/templates/finops-hub/modules/dataExplorer.bicep
  src/templates/finops-hub/modules/hub.bicep
Labels: Solution: FinOps hub

#177 Minor bug fixes
  src/workbooks/optimization/workbook.json
Labels: Needs: Review 👀, Solution: Workbooks

#185 Documentation updates
  README.md
  docs/README.md
  docs/bicep-registry/README.md
  docs/deploy/README.md
  docs/finops-hub/README.md
  docs/optimization-workbook/README.md
  src/templates/finops-hub/README.md
  src/workbooks/optimization/README.md
Labels: Area: Documentation, Needs: Review 👀, Solution: Bicep Registry, Solution: Workbooks, Solution: FinOps hub

#188 Use calculated tables for back-compat support
  src/templates/finops-hub/reports/CommitmentDiscounts.Dataset/diagramLayout.json
  src/templates/finops-hub/reports/CommitmentDiscounts.Dataset/model.bim
  src/templates/finops-hub/reports/CommitmentDiscounts.Report/datasetDiagramLayout.json
  src/templates/finops-hub/reports/CommitmentDiscounts.Report/report.json
  src/templates/finops-hub/reports/CostSummary.Dataset/diagramLayout.json
  src/templates/finops-hub/reports/CostSummary.Dataset/model.bim
  src/templates/finops-hub/reports/CostSummary.Report/datasetDiagramLayout.json
  src/templates/finops-hub/reports/CostSummary.Report/report.json
Labels: Area: Power BI, Needs: Review 👀, Solution: FinOps hub

#189 Set the default SKU in the hub CreateUiDefinition #186
  src/templates/finops-hub/createUiDefinition.json
Labels: Type: Bug 🐛, Needs: Review 👀, Solution: FinOps hub

#192 Add FOCUS page details
  docs/finops-hub/reports/cost-summary.md
Labels: Area: Documentation, Solution: FinOps hub

#162 Managed Exports
  src/templates/finops-hub/main.bicep
  src/templates/finops-hub/modules/azuretimezones.bicep
  src/templates/finops-hub/modules/dataFactory.bicep
  src/templates/finops-hub/modules/hub.bicep
  src/templates/finops-hub/modules/keyVault.bicep
  src/templates/finops-hub/modules/scripts/Copy-FileToAzureBlob.ps1
  src/templates/finops-hub/modules/scripts/Start-Triggers.ps1
  src/templates/finops-hub/modules/storage.bicep
Labels: Area: Data factory, Area: ARM, Needs: Review 👀, Solution: FinOps hub

#183 Workbook v1.1 / Improved Queries
  src/workbooks/optimization/workbook.json
Labels: Solution: Workbooks
