Repository microsoft/finops-toolkit, pull requests merged in 2024-12, with the labels that each got.

#1171 Correct negotiated discount comment
  docs-mslearn/focus/conformance-full-report.md
Labels: Micro PR 🔬, Needs: Review 👀, Tool: FinOps guide

#1184 Fix EffectiveCost is 0 for storage reports
  src/power-bi/storage/Shared.Dataset/definition/tables/CostDetails.tmdl
Labels: Micro PR 🔬, Tool: Power BI, Needs: Review 👀, Hotfix 🔥

#1198 Populate missing prices and disable extra cleanup
  docs/_resources/changelog.md
  docs/_resources/errors.md
  docs/_resources/troubleshooting.md
  src/power-bi/storage/CostSummary.Report/report.json
  src/power-bi/storage/DataIngestion.Report/report.json
  src/power-bi/storage/RateOptimization.Report/report.json
  src/power-bi/storage/Shared.Dataset/definition/cultures/en-US.tmdl
  src/power-bi/storage/Shared.Dataset/definition/expressions.tmdl
  src/power-bi/storage/Shared.Dataset/definition/model.tmdl
  src/power-bi/storage/Shared.Dataset/definition/tables/CostDetails.tmdl
  src/power-bi/storage/Shared.Dataset/definition/tables/Prices.tmdl
  src/power-bi/storage/Shared.Dataset/definition/tables/PricingUnits.tmdl
  src/power-bi/storage/Shared.Dataset/definition/tables/ReservationRecomendations.tmdl
  src/power-bi/storage/Shared.Dataset/diagramLayout.json
  src/power-bi/storage/WorkloadOptimization.Report/report.json
  src/templates/finops-hub/errors.json
Labels: Needs: Review 👀, Hotfix 🔥

#1196 Improved multi-tenancy support with Azure Lighthouse guidance
  docs/_optimize/optimization-engine/customize.md
  docs/_resources/changelog.md
  src/optimization-engine/lighthouse-template.json
  src/optimization-engine/views/workbooks/blockblobstorage-usage.json
  src/optimization-engine/views/workbooks/costs-growing.json
Labels: Skill: Documentation, Skill: Deployment, Status: ▶️ Ready, Tool: Optimization Engine

#1179 Update hubs required permissions table
  docs/_reporting/hubs/README.md
Labels: Skill: Documentation, Micro PR 🔬, Status: ▶️ Ready, Tool: FinOps hubs

#1201 update change log for permissions
  docs/_resources/changelog.md
Labels: Skill: Documentation, Micro PR 🔬, Needs: Review 👀

#1189 Update propose-tool issue template
  .github/ISSUE_TEMPLATE/propose-tool.md
  .github/ISSUE_TEMPLATE/propose-tool.yaml
Labels: Micro PR 🔬, Skill: DevOps, Needs: Review 👀

#1167 Fix release test
  src/powershell/Tests/Integration/Toolkit.Tests.ps1
Labels: Micro PR 🔬, Needs: Review 👀, Tool: PowerShell

#1202 Do not deploy network components when public access is selected.
  docs/_resources/changelog.md
  src/templates/finops-hub/modules/dataExplorer.bicep
  src/templates/finops-hub/modules/hub.bicep
  src/templates/finops-hub/modules/keyVault.bicep
  src/templates/finops-hub/modules/storage.bicep
Labels: Type: Bug 🐛, Status: ▶️ Ready, Tool: FinOps hubs, Resolution: Automerge

#1182 Fix AU time zones
  docs/_resources/changelog.md
  src/templates/finops-hub/modules/azuretimezones.bicep
Labels: Type: Bug 🐛, Micro PR 🔬, Status: 🔬 Code review, Skill: Data factory, Skill: Deployment, Needs: Review 👀, Tool: FinOps hubs, Resolution: Automerge

#1071 added normalize.css package as reset css
  src/web/package-lock.json
  src/web/package.json
  src/web/pages/main.tsx
  src/web/styles/index.css
Labels: Needs: Review 👀, Tool: Web app

#1222 Update configure-scopes.md
  docs/_reporting/hubs/configure-scopes.md
  src/open-data/dataset-examples/EA-Reservations-Recommendations.csv
Labels: Skill: Documentation, Micro PR 🔬, Needs: Review 👀, Tool: FinOps hubs

#1211 Update version number to 0.8-dev
  docs/_includes/ftkver.txt
  docs/_resources/changelog.md
  package-lock.json
  package.json
  src/optimization-engine/ftkver.txt
  src/powershell/Private/Get-VersionNumber.ps1
  src/templates/finops-hub/modules/ftkver.txt
  src/templates/finops-workbooks/ftkver.txt
  src/workbooks/.scaffold/ftkver.txt
Labels: Micro PR 🔬, Needs: Review 👀

#1205 Clean up date handling
  docs/_resources/changelog.md
  src/power-bi/storage/CostSummary.Report/report.json
  src/power-bi/storage/DataIngestion.Report/report.json
  src/power-bi/storage/RateOptimization.Report/report.json
  src/power-bi/storage/Shared.Dataset/definition/expressions.tmdl
  src/power-bi/storage/WorkloadOptimization.Report/report.json
Labels: Micro PR 🔬, Tool: Power BI, Needs: Review 👀

#1212 Fix bug where x_ResourceType is changed to the wrong value
  docs/_resources/changelog.md
  src/templates/finops-hub/modules/scripts/IngestionSetup.kql
Labels: Micro PR 🔬, Needs: Review 👀, Tool: FinOps hubs

#1213 Fix invalid ResourceType display names in ADX
  docs/_reporting/hubs/data-processing.md
  docs/_resources/changelog.md
  src/templates/finops-hub/modules/scripts/IngestionSetup.kql
Labels: Micro PR 🔬, Needs: Review 👀, Tool: FinOps hubs

#1214 Generate KQL functions in Build-OpenData
  src/scripts/Build-OpenData.ps1
  src/scripts/README.md
Labels: Skill: DevOps, Needs: Review 👀, Tool: FinOps hubs

#1215 Add hubs resource_type() KQL function
  docs/_reporting/hubs/template.md
  docs/_reporting/hubs/upgrade.md
  docs/_resources/changelog.md
  src/templates/finops-hub/modules/dataExplorer.bicep
  src/templates/finops-hub/modules/scripts/IngestionSetup.kql
  src/templates/finops-hub/modules/scripts/OpenDataFunctions.kql
Labels: Needs: Review 👀, Tool: FinOps hubs

#1216 Hubs ADX ingestion out of memory fix
  docs/_resources/changelog.md
  src/templates/finops-hub/modules/scripts/Common.kql
  src/templates/finops-hub/modules/scripts/HubSetup.kql
  src/templates/finops-hub/modules/scripts/IngestionSetup.kql
Labels: Micro PR 🔬, Needs: Review 👀, Tool: FinOps hubs

#1217 Update default reviewers
  .github/policies/pulls-02-reviewers.yml
Labels: Skill: DevOps, Needs: Review 👀

#1218 Fix PR doc check policy
  .github/policies/pulls-01-checklist.yml
Labels: Micro PR 🔬, Skill: DevOps, Needs: Review 👀

#1219 Update CommitmentDiscountUsage transform to use parse_resourceid
  docs/_resources/changelog.md
  src/templates/finops-hub/modules/scripts/IngestionSetup.kql
Labels: Micro PR 🔬, Needs: Review 👀, Tool: FinOps hubs
