Repository microsoft/finops-toolkit, pull requests merged in 2024-10, with the labels that each got.

#1020 [Optimization engine] Adds expiring savings plans and reservations to usage workbooks
  docs/_resources/changelog.md
  src/optimization-engine/views/workbooks/reservations-usage.json
  src/optimization-engine/views/workbooks/savingsplans-usage.json
Labels: Needs: Review 👀, Tool: Optimization Engine

#1022 Promote tags as columns in Power BI CostDetails query
  docs/_resources/changelog.md
  src/power-bi/CostSummary.Report/report.json
  src/power-bi/DataIngestion.Report/report.json
  src/power-bi/Governance.Report/report.json
  src/power-bi/RateOptimization.Report/report.json
  src/power-bi/Shared.Dataset/definition/cultures/en-US.tmdl
  src/power-bi/Shared.Dataset/definition/expressions.tmdl
  src/power-bi/Shared.Dataset/definition/model.tmdl
  src/power-bi/Shared.Dataset/definition/relationships.tmdl
  src/power-bi/Shared.Dataset/definition/tables/Advisor for disks.tmdl
  src/power-bi/Shared.Dataset/definition/tables/AdvisorRecommendations.tmdl
  src/power-bi/Shared.Dataset/definition/tables/AdvisorReservationRecommendations.tmdl
  src/power-bi/Shared.Dataset/definition/tables/CostDetails.tmdl
  src/power-bi/Shared.Dataset/definition/tables/DateTableTemplate_8150e96b-3319-4654-9395-1629b2428e72.tmdl
  src/power-bi/Shared.Dataset/definition/tables/LocalDateTable_0195151c-8910-45c4-8c88-2946b3f9ffe8.tmdl
  src/power-bi/Shared.Dataset/definition/tables/LocalDateTable_0951c383-0e48-4ca2-869d-e5e5c1551be6.tmdl
  src/power-bi/Shared.Dataset/definition/tables/LocalDateTable_1be86c8b-1d56-4c92-b0c1-2de21a6b4e4d.tmdl
  src/power-bi/Shared.Dataset/definition/tables/LocalDateTable_280f8620-a4b4-45b1-9e75-cf567b880a2c.tmdl
  src/power-bi/Shared.Dataset/definition/tables/LocalDateTable_41a1933b-26d3-4c56-aecf-605bc04c1fe7.tmdl
  src/power-bi/Shared.Dataset/definition/tables/LocalDateTable_501171be-aa02-401b-9e82-2bf6f16d7de3.tmdl
  src/power-bi/Shared.Dataset/definition/tables/LocalDateTable_506735ba-eb3a-4e77-a52f-70c407778c05.tmdl
  src/power-bi/Shared.Dataset/definition/tables/LocalDateTable_5399b385-fafe-40a7-b043-5cbb2b2bf725.tmdl
  src/power-bi/Shared.Dataset/definition/tables/LocalDateTable_570af09c-3ee5-48ee-9425-a2c2ee8808fb.tmdl
  src/power-bi/Shared.Dataset/definition/tables/LocalDateTable_5b617bbf-90ab-4847-9cab-7068fda94084.tmdl
  src/power-bi/Shared.Dataset/definition/tables/LocalDateTable_8b74c4d3-e548-41c6-ba9b-0bb1b5b72e71.tmdl
  src/power-bi/Shared.Dataset/definition/tables/LocalDateTable_8cbc1d31-9ec3-4e02-882c-cfa406c8e78e.tmdl
  src/power-bi/Shared.Dataset/definition/tables/LocalDateTable_9f5d917b-c335-474f-836b-65f614e8aa8a.tmdl
  src/power-bi/Shared.Dataset/definition/tables/LocalDateTable_c351bfa8-dbcf-4886-9895-35cf730d7efe.tmdl
  src/power-bi/Shared.Dataset/definition/tables/LocalDateTable_c3c47274-cc2f-4ba2-a257-6f5d529787d5.tmdl
  src/power-bi/Shared.Dataset/definition/tables/LocalDateTable_c4ce9464-15a6-4444-a0af-08644805dec6.tmdl
  src/power-bi/Shared.Dataset/definition/tables/LocalDateTable_d40b7430-e260-4066-92b8-6bd87adf1ac2.tmdl
  src/power-bi/Shared.Dataset/definition/tables/LocalDateTable_d8279185-d2c7-4455-9003-fc92a34f3607.tmdl
  src/power-bi/Shared.Dataset/definition/tables/LocalDateTable_da3df616-7d6a-4fe9-b564-c8f691e0b780.tmdl
  src/power-bi/Shared.Dataset/definition/tables/LocalDateTable_dcfea72a-52cc-4e5b-bb91-472ff21b7b25.tmdl
  src/power-bi/Shared.Dataset/definition/tables/LocalDateTable_e11d803c-f7bd-4c0e-96a9-6ab80f35b745.tmdl
  src/power-bi/Shared.Dataset/definition/tables/LocalDateTable_eb23340c-7bc4-423a-8368-7d88e0455c14.tmdl
  src/power-bi/Shared.Dataset/definition/tables/LocalDateTable_eb7ae8b8-9958-4816-bd33-f17b80df8c35.tmdl
  src/power-bi/Shared.Dataset/definition/tables/LocalDateTable_f404d4da-597d-4db3-8c17-e985f68c9dc4.tmdl
  src/power-bi/Shared.Dataset/definition/tables/LocalDateTable_f581f9e4-7dfc-448d-a6d1-fb4cc5c95f27.tmdl
  src/power-bi/Shared.Dataset/definition/tables/LocalDateTable_f74f3434-c614-4ef8-9110-25376bc17725.tmdl
  src/power-bi/Shared.Dataset/definition/tables/LocalDateTable_f8c522a9-514b-435e-9c83-a31fe0c99a22.tmdl
  src/power-bi/Shared.Dataset/definition/tables/LocalDateTable_fef26e24-a208-4f98-9587-9e837520485d.tmdl
  src/power-bi/Shared.Dataset/definition/tables/Prices.tmdl
  src/power-bi/Shared.Dataset/definition/tables/ReservationDetails.tmdl
  src/power-bi/Shared.Dataset/definition/tables/ReservationRecomendations.tmdl
  src/power-bi/Shared.Dataset/definition/tables/ReservationTransactions.tmdl
  src/power-bi/Shared.Dataset/definition/tables/SqlDatabases.tmdl
  src/power-bi/Shared.Dataset/definition/tables/StorageData.tmdl
  src/power-bi/Shared.Dataset/definition/tables/StorageErrors.tmdl
  src/power-bi/WorkloadOptimization.Report/report.json
Labels: Needs: Review 👀

#1025 Fix ingestion pipeline to identify scope
  docs/_reporting/power-bi/rate-optimization.md
  docs/deploy/finops-hub-0.6.json
  docs/deploy/finops-hub-latest.json
  src/templates/finops-hub/modules/dataFactory.bicep
Labels: Micro PR 🔬, Skill: Deployment, Needs: Review 👀, Tool: FinOps hubs

#1032 InstanceFlexibilityRatio should be type Decimal
  src/templates/finops-hub/schemas/reservationdetails_2023-03-01.json
Labels: Type: Bug 🐛, Micro PR 🔬, Needs: Review 👀, Tool: FinOps hubs

#1039 Add Private endpoint support
  src/templates/finops-hub/README.md
  src/templates/finops-hub/createUiDefinition.json
  src/templates/finops-hub/main.bicep
  src/templates/finops-hub/modules/dataFactory.bicep
  src/templates/finops-hub/modules/hub.bicep
  src/templates/finops-hub/modules/keyVault.bicep
  src/templates/finops-hub/modules/scripts/Copy-FileToAzureBlob.ps1
  src/templates/finops-hub/modules/scripts/Remove-OldResources.ps1
  src/templates/finops-hub/modules/storage.bicep
Labels: Needs: Review 👀, Tool: FinOps hubs

#1024 [UX] Clean up Vite boilerplate content - UX web app for marketing site and management portal
  src/web/README.md
  src/web/assets/react.svg
  src/web/eslint.config.js
  src/web/index.html
  src/web/package-lock.json
  src/web/package.json
  src/web/pages/App.css
  src/web/pages/App.tsx
  src/web/pages/main.tsx
  src/web/public/vite.svg
Labels: Status: ▶️ Ready, Tool: Web app

#1034 Update Power BI setup instructions
  docs/_reporting/power-bi/README.md
  docs/_reporting/power-bi/setup.md
Labels: Skill: Documentation, Micro PR 🔬, Tool: Power BI, Needs: Review 👀

#1035 Update the services mapping file doc
  docs/_reporting/data/README.md
Labels: Skill: Documentation, Micro PR 🔬, Needs: Review 👀, Tool: Open data

#1028 FinOps hubs compatibility guide
  docs/_reporting/hubs/compatibility.md
  docs/_resources/changelog.md
Labels: Skill: Documentation, Needs: Review 👀

#1045 Update PBI StorageData query for 0.6
  docs/_reporting/hubs/upgrade.md
  docs/_resources/changelog.md
  src/power-bi/Shared.Dataset/definition/expressions.tmdl
  src/power-bi/Shared.Dataset/definition/model.tmdl
  src/power-bi/Shared.Dataset/definition/tables/HubScopes.tmdl
  src/power-bi/Shared.Dataset/definition/tables/HubSettings.tmdl
  src/power-bi/Shared.Dataset/definition/tables/StorageData.tmdl
Labels: Needs: Review 👀

#1046 Add UnsupportedExportFileType docs
  docs/_resources/errors.md
  src/templates/finops-hub/errors.json
Labels: Micro PR 🔬, Needs: Review 👀, Hotfix 🔥

#1051 Mslearn 10072024
  docs-mslearn/TOC.yml
  docs-mslearn/conduct-iteration.md
  docs-mslearn/focus/_focus_feedback.md
  docs-mslearn/focus/convert.md
  docs-mslearn/focus/mapping.md
  docs-mslearn/focus/metadata.md
  docs-mslearn/focus/validate.md
  docs-mslearn/focus/what-is-focus.md
  docs-mslearn/framework/manage/education.md
  docs-mslearn/framework/manage/governance.md
  docs-mslearn/framework/manage/intersecting-disciplines.md
  docs-mslearn/framework/manage/invoicing-chargeback.md
  docs-mslearn/framework/manage/onboarding.md
  docs-mslearn/framework/manage/tools-services.md
  docs-mslearn/framework/optimize/architecting.md
  docs-mslearn/framework/optimize/licensing.md
  docs-mslearn/framework/optimize/sustainability.md
  docs-mslearn/framework/optimize/workloads.md
  docs-mslearn/framework/quantify/forecasting.md
  docs-mslearn/framework/quantify/unit-economics.md
  docs-mslearn/framework/understand/allocation.md
  docs-mslearn/framework/understand/ingestion.md
  docs-mslearn/framework/understand/reporting.md
  docs-mslearn/index.yml
  docs-mslearn/overview.md
  docs-mslearn/toolkit/open-data.md
  docs-mslearn/toolkit/optimization-workbook/cost-optimization-workbook.md
  docs-mslearn/toolkit/optimization-workbook/media/cost-optimization-workbook/rate-optimization-example.png
Labels: Needs: Review 👀

#1047 [Optimization engine] Fixes missing columns in EA savings plans exports
  docs/_optimize/optimization-engine/README.md
  src/optimization-engine/azuredeploy-nested.bicep
  src/optimization-engine/runbooks/data-collection/Export-SavingsPlansUsageToBlobStorage.ps1
  src/optimization-engine/upgrade-manifest.json
Labels: Status: ▶️ Ready, Tool: Optimization Engine

#1048 [Optimization engine] Improves ingestion resiliency in face of 0 bytes chunks
  docs/_resources/changelog.md
  src/optimization-engine/azuredeploy-nested.bicep
  src/optimization-engine/runbooks/data-collection/Ingest-OptimizationCSVExportsToLogAnalytics.ps1
  src/optimization-engine/upgrade-manifest.json
Labels: Status: ▶️ Ready, Tool: Optimization Engine

#1054 Add Enterprise App Patterns to architecting.md
  docs/_docs/framework/capabilities/optimize/architecting.md
  docs/_resources/changelog.md
Labels: Skill: Documentation, Micro PR 🔬, Needs: Review 👀

#1040 Add deployment files for Azure Gov/China and private endpoint testing
  docs/deploy/finops-hub-0.1.1.json
  docs/deploy/finops-hub-0.1.1.ui.json
  docs/deploy/finops-hub-0.4-privateendpoint.json
  docs/deploy/finops-hub-0.4-privateendpoint.ui.json
Labels: Skill: Documentation, Needs: Review 👀, Hotfix 🔥

#1057 PR for [UX] Migrate existing markdown content to TSX pages #1056
  src/web/jest.config.cjs
  src/web/package-lock.json
  src/web/package.json
  src/web/pages/App.tsx
  src/web/pages/AzureOptimizationEnginePage.tsx
  src/web/pages/BicepRegistryModulesPage.tsx
  src/web/pages/CostOptimizationWorkbookPage.tsx
  src/web/pages/FinOpsHubsPage.tsx
  src/web/pages/FinOpsWorkbooksPage.tsx
  src/web/pages/GovernanceWorkbookPage.tsx
  src/web/pages/HomePage.tsx
  src/web/pages/OpenDataPage.tsx
  src/web/pages/PowerBIReportsPage.tsx
  src/web/pages/PowerShellModulePage.tsx
  src/web/pages/ToolsLandingPage.tsx
  src/web/pages/__tests__/HomePage.test.tsx
  src/web/setupTests.ts
  src/web/tsconfig.app.json
  src/web/tsconfig.json
Labels: Tool: Web app

#1052 Create Azure Databricks Workbook #733
  src/workbooks/optimization/Azure Databricks.workbook
Labels: Needs: Review 👀, Tool: Workbooks, Tool: Optimization workbook

#909 Document FOCUS conformance
  docs-mslearn/focus/conformance-full-report.md
  docs-mslearn/focus/conformance-summary.md
Labels: Skill: Documentation, Tool: FinOps guide

#1070 Fix tpo in CreateUiDef and Config Scopes
  docs/_reporting/hubs/configure-scopes.md
  src/templates/finops-hub/createUiDefinition.json
Labels: Micro PR 🔬, Needs: Review 👀, Tool: FinOps hubs

#1080 Cost Optimization workbook / October release
  docs/_resources/changelog.md
  src/workbooks/optimization/Compute/Compute.workbook
  src/workbooks/optimization/Databases/Databases.workbook
  src/workbooks/optimization/Storage/Storage.workbook
  src/workbooks/optimization/commitment-discounts/commitment.workbook
Labels: Needs: Review 👀

#1078 Msbrett/dev/private net
  docs/_reporting/hubs/template.md
  docs/_resources/changelog.md
  src/templates/finops-hub/main.bicep
  src/templates/finops-hub/modules/dataFactory.bicep
  src/templates/finops-hub/modules/hub.bicep
  src/templates/finops-hub/modules/keyVault.bicep
  src/templates/finops-hub/modules/keyVaultEndpoints.bicep
  src/templates/finops-hub/modules/storage.bicep
  src/templates/finops-hub/modules/storageEndpoints.bicep
  src/templates/finops-hub/modules/vnet.bicep
Labels: Status: 🔬 Code review, Needs: Review 👀, Tool: FinOps hubs
