Repository microsoft/finops-toolkit, pull requests merged in 2024-09, with the labels that each got.

#949 Add missing resource types
  docs/_resources/changelog.md
  src/open-data/ResourceTypes.Overrides.json
  src/open-data/ResourceTypes.csv
  src/open-data/ResourceTypes.json
  src/powershell/Private/Get-OpenDataResourceType.ps1
Labels: Micro PR 🔬, Needs: Review 👀

#947 Update Get-AzAccessToken to use -AsSecureString
  docs/_resources/changelog.md
  src/powershell/Private/Invoke-Rest.ps1
  src/powershell/Tests/Integration/CostExports.Tests.ps1
Labels: Micro PR 🔬, Needs: Review 👀

#936 CM exports bicep registry module
  docs/_automation/bicep-registry/README.md
  docs/_automation/bicep-registry/exports.md
  docs/_automation/bicep-registry/scheduled-actions.md
  docs/_resources/changelog.md
  src/bicep-registry/export/README.md
  src/bicep-registry/export/main.bicep
  src/bicep-registry/export/scaffold.json
  src/bicep-registry/export/test/main.test.bicep
Labels: Needs: Review 👀

#953 Open Data CI Fix
  .github/workflows/opendata-ci.yml
Labels: Skill: DevOps, Needs: Review 👀

#960 Finops update 09052024
  docs-mslearn/.openpublishing.redirection.finops.json
  docs-mslearn/TOC.yml
  docs-mslearn/conduct-iteration.md
  docs-mslearn/fabric/create-fabric-workspace-finops.md
  docs-mslearn/framework/capabilities.md
  docs-mslearn/framework/finops-framework.md
  docs-mslearn/framework/manage/assessment.md
  docs-mslearn/framework/manage/governance.md
  docs-mslearn/framework/manage/intersecting-disciplines.md
  docs-mslearn/framework/manage/invoicing-chargeback.md
  docs-mslearn/framework/manage/manage-finops.md
  docs-mslearn/framework/manage/onboarding.md
  docs-mslearn/framework/manage/operations.md
  docs-mslearn/framework/manage/overview
  docs-mslearn/framework/manage/tools-services.md
  docs-mslearn/framework/optimize/architecting.md
  docs-mslearn/framework/optimize/licensing.md
  docs-mslearn/framework/optimize/optimize-cloud-usage-cost.md
  docs-mslearn/framework/optimize/overview
  docs-mslearn/framework/optimize/rates.md
  docs-mslearn/framework/optimize/sustainability.md
  docs-mslearn/framework/optimize/workloads.md
  docs-mslearn/framework/quantify/benchmarking.md
  docs-mslearn/framework/quantify/budgeting.md
  docs-mslearn/framework/quantify/forecasting.md
  docs-mslearn/framework/quantify/overview
  docs-mslearn/framework/quantify/planning.md
  docs-mslearn/framework/quantify/quantify-business-value.md
  docs-mslearn/framework/quantify/unit-economics.md
  docs-mslearn/framework/understand/allocation.md
  docs-mslearn/framework/understand/anomalies.md
  docs-mslearn/framework/understand/ingestion.md
  docs-mslearn/framework/understand/overview.md
  docs-mslearn/framework/understand/reporting.md
  docs-mslearn/framework/understand/understand-cloud-usage-cost.md
  docs-mslearn/index.yml
  docs-mslearn/media/advisor.svg
  docs-mslearn/media/azure-migrate.svg
  docs-mslearn/media/azure-policy.svg
  docs-mslearn/media/capacities.svg
  docs-mslearn/media/carbon-optimization.svg
  docs-mslearn/media/cost-management.svg
  docs-mslearn/media/toolkit.svg
  docs-mslearn/media/tutorial.svg
  docs-mslearn/overview.md
  docs-mslearn/toolkit/optimization-workbook/cost-optimization-workbook.md
  docs-mslearn/toolkit/optimization-workbook/media/cost-optimization-workbook/outputs-example.png
  docs-mslearn/toolkit/optimization-workbook/media/cost-optimization-workbook/rate-optimization-example.png
  docs-mslearn/toolkit/optimization-workbook/media/cost-optimization-workbook/usage-optimization-example.png
  docs-mslearn/toolkit/optimization-workbook/media/cost-optimization-workbook/workbook-template.png
Labels: Needs: Review 👀

#951 [Hubs] Add support for compressed exports from Cost Management
  docs/_resources/changelog.md
  src/templates/finops-hub/modules/dataFactory.bicep
Labels: Skill: Deployment, Needs: Review 👀, Tool: FinOps hubs

#964 Fix ADLS reference issue
  docs/_resources/changelog.md
  src/power-bi/CostSummary.Report/report.json
  src/power-bi/DataIngestion.Report/report.json
  src/power-bi/RateOptimization.Report/report.json
  src/power-bi/Shared.Dataset/definition/expressions.tmdl
  src/power-bi/Shared.Dataset/definition/tables/HubScopes.tmdl
  src/power-bi/Shared.Dataset/definition/tables/HubSettings.tmdl
  src/power-bi/Shared.Dataset/definition/tables/StorageData.tmdl
Labels: Type: Bug 🐛, Micro PR 🔬, Tool: Power BI, Needs: Review 👀

#908 Add FinOps Best Practices / ARG resource library
  docs/_docs/bestpractices/README.md
  docs/_docs/bestpractices/compute/compute.md
  docs/_docs/bestpractices/databases/databases.md
  docs/_docs/bestpractices/general/general.md
  docs/_docs/bestpractices/networking/networking.md
  docs/_docs/bestpractices/storage/storage.md
  docs/_docs/bestpractices/web/web.md
  docs/_resources/changelog.md
Labels: Skill: Documentation, Status: ▶️ Ready, Tool: FinOps guide

#979 Azure Quickstart Templates updates
  src/scripts/Publish-Toolkit.ps1
  src/templates/finops-hub/README.md
  src/templates/finops-hub/metadata.json
  src/workbooks/governance/README.md
  src/workbooks/governance/scaffold.json
  src/workbooks/optimization/README.md
  src/workbooks/optimization/scaffold.json
Labels: Micro PR 🔬, Needs: Review 👀

#984 [HUBs] Docu - Update manual export configuration parameters
  docs/_reporting/hubs/configure-scopes.md
Labels: Skill: Documentation, Micro PR 🔬, Needs: Review 👀, Tool: FinOps hubs

#944 Add ServiceSubcategory to the Services dataset
  docs/_resources/changelog.md
  src/open-data/Services.csv
  src/powershell/Private/Get-OpenDataService.ps1
  src/powershell/Public/Get-FinOpsService.ps1
Labels: Tool: Open data

#981 Fix how labels are applied in Update-Version
  src/scripts/Update-Version.ps1
Labels: Micro PR 🔬, Skill: DevOps, Needs: Review 👀

#991 [Optimization engine] Improve Storage Account access and interactive scripts security
  docs/_optimize/optimization-engine/README.md
  docs/_resources/changelog.md
  src/optimization-engine/Deploy-AzureOptimizationEngine.ps1
  src/optimization-engine/Suppress-Recommendation.ps1
  src/optimization-engine/azuredeploy-nested.bicep
  src/optimization-engine/runbooks/data-collection/Export-AADObjectsToBlobStorage.ps1
  src/optimization-engine/runbooks/data-collection/Export-ARGAppGatewayPropertiesToBlobStorage.ps1
  src/optimization-engine/runbooks/data-collection/Export-ARGAppServicePlanPropertiesToBlobStorage.ps1
  src/optimization-engine/runbooks/data-collection/Export-ARGAvailabilitySetPropertiesToBlobStorage.ps1
  src/optimization-engine/runbooks/data-collection/Export-ARGLoadBalancerPropertiesToBlobStorage.ps1
  src/optimization-engine/runbooks/data-collection/Export-ARGManagedDisksPropertiesToBlobStorage.ps1
  src/optimization-engine/runbooks/data-collection/Export-ARGNICPropertiesToBlobStorage.ps1
  src/optimization-engine/runbooks/data-collection/Export-ARGNSGPropertiesToBlobStorage.ps1
  src/optimization-engine/runbooks/data-collection/Export-ARGPublicIpPropertiesToBlobStorage.ps1
  src/optimization-engine/runbooks/data-collection/Export-ARGResourceContainersPropertiesToBlobStorage.ps1
  src/optimization-engine/runbooks/data-collection/Export-ARGSqlDatabasePropertiesToBlobStorage.ps1
  src/optimization-engine/runbooks/data-collection/Export-ARGUnmanagedDisksPropertiesToBlobStorage.ps1
  src/optimization-engine/runbooks/data-collection/Export-ARGVMSSPropertiesToBlobStorage.ps1
  src/optimization-engine/runbooks/data-collection/Export-ARGVNetPropertiesToBlobStorage.ps1
  src/optimization-engine/runbooks/data-collection/Export-ARGVirtualMachinesPropertiesToBlobStorage.ps1
  src/optimization-engine/runbooks/data-collection/Export-AdvisorRecommendationsToBlobStorage.ps1
  src/optimization-engine/runbooks/data-collection/Export-AzMonitorMetricsToBlobStorage.ps1
  src/optimization-engine/runbooks/data-collection/Export-ConsumptionToBlobStorage.ps1
  src/optimization-engine/runbooks/data-collection/Export-PolicyComplianceToBlobStorage.ps1
  src/optimization-engine/runbooks/data-collection/Export-PriceSheetToBlobStorage.ps1
  src/optimization-engine/runbooks/data-collection/Export-RBACAssignmentsToBlobStorage.ps1
  src/optimization-engine/runbooks/data-collection/Export-ReservationsPriceToBlobStorage.ps1
  src/optimization-engine/runbooks/data-collection/Export-ReservationsUsageToBlobStorage.ps1
  src/optimization-engine/runbooks/data-collection/Export-SavingsPlansUsageToBlobStorage.ps1
  src/optimization-engine/runbooks/data-collection/Ingest-OptimizationCSVExportsToLogAnalytics.ps1
  src/optimization-engine/runbooks/recommendations/Ingest-RecommendationsToLogAnalytics.ps1
  src/optimization-engine/runbooks/recommendations/Ingest-RecommendationsToSQLServer.ps1
  src/optimization-engine/runbooks/recommendations/Recommend-AADExpiringCredentialsToBlobStorage.ps1
  src/optimization-engine/runbooks/recommendations/Recommend-ARMOptimizationsToBlobStorage.ps1
  src/optimization-engine/runbooks/recommendations/Recommend-AdvisorAsIsToBlobStorage.ps1
  src/optimization-engine/runbooks/recommendations/Recommend-AdvisorCostAugmentedToBlobStorage.ps1
  src/optimization-engine/runbooks/recommendations/Recommend-AppServiceOptimizationsToBlobStorage.ps1
  src/optimization-engine/runbooks/recommendations/Recommend-DiskOptimizationsToBlobStorage.ps1
  src/optimization-engine/runbooks/recommendations/Recommend-SqlDbOptimizationsToBlobStorage.ps1
  src/optimization-engine/runbooks/recommendations/Recommend-StorageAccountOptimizationsToBlobStorage.ps1
  src/optimization-engine/runbooks/recommendations/Recommend-UnattachedDisksToBlobStorage.ps1
  src/optimization-engine/runbooks/recommendations/Recommend-UnusedAppGWsToBlobStorage.ps1
  src/optimization-engine/runbooks/recommendations/Recommend-UnusedLoadBalancersToBlobStorage.ps1
  src/optimization-engine/runbooks/recommendations/Recommend-VMOptimizationsToBlobStorage.ps1
  src/optimization-engine/runbooks/recommendations/Recommend-VMSSOptimizationsToBlobStorage.ps1
  src/optimization-engine/runbooks/recommendations/Recommend-VMsHighAvailabilityToBlobStorage.ps1
  src/optimization-engine/runbooks/recommendations/Recommend-VNetOptimizationsToBlobStorage.ps1
  src/optimization-engine/runbooks/remediations/Remediate-AdvisorRightSizeFiltered.ps1
  src/optimization-engine/runbooks/remediations/Remediate-LongDeallocatedVMsFiltered.ps1
  src/optimization-engine/runbooks/remediations/Remediate-UnattachedDisksFiltered.ps1
  src/optimization-engine/upgrade-manifest.json
Labels: Status: ▶️ Ready, Tool: Optimization Engine

#983 fixed issue "Remove-FinOpsHub fails when there's only one resource"
  .vscode/extensions.json
  src/powershell/Private/Get-HubIdentifier.ps1
  src/powershell/Public/Remove-FinOpsHub.ps1
  src/powershell/Tests/Integration/Hubs.Tests.ps1
Labels: Needs: Review 👀, Tool: PowerShell, Tool: FinOps hubs

#1008 [Optimization engine] Added troubleshooting page and split FAQ
  docs/_optimize/optimization-engine/README.md
  docs/_optimize/optimization-engine/configuring-workspaces.md
  docs/_optimize/optimization-engine/faq.md
  docs/_optimize/optimization-engine/troubleshooting.md
  docs/_resources/changelog.md
Labels: Skill: Documentation, Status: ▶️ Ready, Tool: Optimization Engine

#982 Add react-ts Vite template
  .all-contributorsrc
  .github/policies/pulls-06-contrib.yml
  README.md
  docs/README.md
  src/web/.gitignore
  src/web/README.md
  src/web/assets/react.svg
  src/web/eslint.config.js
  src/web/index.html
  src/web/package-lock.json
  src/web/package.json
  src/web/pages/App.css
  src/web/pages/App.tsx
  src/web/pages/main.tsx
  src/web/public/vite.svg
  src/web/styles/index.css
  src/web/tsconfig.app.json
  src/web/tsconfig.json
  src/web/tsconfig.node.json
  src/web/vite-env.d.ts
  src/web/vite.config.ts
Labels: Needs: Review 👀, Tool: Web app

#1011 Ingest all datasets and fix scopes array bug
  docs/_reporting/hubs/README.md
  docs/_reporting/hubs/configure-scopes.md
  docs/_reporting/hubs/data-processing.md
  docs/_reporting/hubs/template.md
  docs/_reporting/power-bi/README.md
  docs/_reporting/power-bi/setup.md
  docs/_resources/changelog.md
  src/power-bi/CostSummary.Report/report.json
  src/power-bi/DataIngestion.Report/report.json
  src/power-bi/Governance.Report/report.json
  src/power-bi/RateOptimization.Report/report.json
  src/power-bi/Shared.Dataset/definition/expressions.tmdl
  src/power-bi/Shared.Dataset/definition/model.tmdl
  src/power-bi/Shared.Dataset/definition/relationships.tmdl
  src/power-bi/Shared.Dataset/definition/tables/CostDetails.tmdl
  src/power-bi/Shared.Dataset/definition/tables/HubScopes.tmdl
  src/power-bi/Shared.Dataset/definition/tables/HubSettings.tmdl
  src/power-bi/Shared.Dataset/definition/tables/StorageData.tmdl
  src/power-bi/WorkloadOptimization.Report/report.json
  src/templates/finops-hub/modules/dataFactory.bicep
  src/templates/finops-hub/modules/scripts/Remove-OldResources.ps1
  src/templates/finops-hub/modules/storage.bicep
  src/templates/finops-hub/schemas/reservationdetails_2023-03-01.json
Labels: Needs: Review 👀, Tool: FinOps hubs

#976 Incremental refresh for PBI reports
  docs/_resources/changelog.md
  src/power-bi/Shared.Dataset/definition/expressions.tmdl
Labels: Tool: Power BI, Needs: Review 👀

#970 Add docs on how to configure reports using SAS tokens #859 & Add docs to test/demo reports using Power BI desktop #958 #968
  docs/_reporting/hubs/README.md
  docs/_reporting/power-bi/setup.md
  docs/_resources/changelog.md
  docs/assets/images/hubs/azure-storage-account-SAS.png
  docs/assets/images/hubs/powerbi-dashboard-SAS-setup.png
  docs/assets/images/hubs/powerbi-dashboard-SAS-token.png
  docs/assets/images/hubs/rate-optimization-report.png
Labels: Skill: Documentation, Needs: Review 👀

#1013 Adds git checkout instruction to avoid conflicts with dev main branch
  docs/_optimize/optimization-engine/README.md
Labels: Skill: Documentation, Status: ▶️ Ready, Tool: Optimization Engine

#1010 Adding Power BI date range fix to troubleshooting guide
  docs/_resources/errors.md
  docs/_resources/troubleshooting.md
Labels: Skill: Documentation, Micro PR 🔬, Status: ▶️ Ready

#1016 Remove temp event grid resource
  docs/_reporting/hubs/template.md
  docs/_resources/changelog.md
  src/templates/finops-hub/main.bicep
  src/templates/finops-hub/modules/hub.bicep
Labels: Needs: Review 👀, Tool: FinOps hubs

#1017 Optimize ingestion pipeline files handling
  src/templates/finops-hub/modules/dataFactory.bicep
Labels: Skill: Deployment, Needs: Review 👀, Tool: FinOps hubs
