Repository microsoft/finops-toolkit, pull requests merged in 2024-08, with the labels that each got.

#864 COW July Update
  docs/_resources/changelog.md
  src/workbooks/optimization/AHB/AHB.workbook
  src/workbooks/optimization/Compute/Compute.workbook
  src/workbooks/optimization/CostOptimization.workbook
  src/workbooks/optimization/Databases/Databases.workbook
  src/workbooks/optimization/Storage/Storage.workbook
  src/workbooks/optimization/commitment-discounts/commitment.workbook
Labels: Needs: Review 👀, Skill: Workbooks, Tool: Optimization workbook

#866 Azure Optimization Engine August release
  .all-contributorsrc
  .github/workflows/aoe-cd-dev.yml
  .github/workflows/aoe-cd-prod.yml
  .github/workflows/aoe-cd-test.yml
  README.md
  docs/README.md
  docs/_optimize/optimization-engine/README.md
  docs/_optimize/optimization-engine/configuring-workspaces.md
  docs/_optimize/optimization-engine/customize.md
  docs/_optimize/optimization-engine/faq.md
  docs/_optimize/optimization-engine/reports.md
  docs/_optimize/optimization-engine/setup-options.md
  docs/_optimize/optimization-engine/suppressing-recommendations.md
  src/optimization-engine/Deploy-AzureOptimizationEngine.ps1
  src/optimization-engine/Register-MultitenantAutomationSchedules.ps1
  src/optimization-engine/Suppress-Recommendation.ps1
  src/optimization-engine/azuredeploy-nested.bicep
  src/optimization-engine/azuredeploy.bicep
  src/optimization-engine/model/automation-user.sql
  src/optimization-engine/runbooks/data-collection/Export-AADObjectsToBlobStorage.ps1
  src/optimization-engine/runbooks/data-collection/Export-AzMonitorMetricsToBlobStorage.ps1
  src/optimization-engine/runbooks/data-collection/Export-ConsumptionToBlobStorage.ps1
  src/optimization-engine/runbooks/data-collection/Export-RBACAssignmentsToBlobStorage.ps1
  src/optimization-engine/runbooks/data-collection/Ingest-OptimizationCSVExportsToLogAnalytics.ps1
  src/optimization-engine/runbooks/maintenance/CleanUp-OlderRecommendationsFromSqlServer.ps1
  src/optimization-engine/runbooks/recommendations/Ingest-RecommendationsToLogAnalytics.ps1
  src/optimization-engine/runbooks/recommendations/Ingest-RecommendationsToSQLServer.ps1
  src/optimization-engine/runbooks/recommendations/Ingest-SuppressionsToLogAnalytics.ps1
  src/optimization-engine/runbooks/recommendations/Recommend-AADExpiringCredentialsToBlobStorage.ps1
  src/optimization-engine/runbooks/recommendations/Recommend-ARMOptimizationsToBlobStorage.ps1
  src/optimization-engine/runbooks/recommendations/Recommend-AdvisorAsIsToBlobStorage.ps1
  src/optimization-engine/runbooks/recommendations/Recommend-AdvisorCostAugmentedToBlobStorage.ps1
  src/optimization-engine/runbooks/recommendations/Recommend-AppServiceOptimizationsToBlobStorage.ps1
  src/optimization-engine/runbooks/recommendations/Recommend-DiskOptimizationsToBlobStorage.ps1
  src/optimization-engine/runbooks/recommendations/Recommend-SqlDbOptimizationsToBlobStorage.ps1
  src/optimization-engine/runbooks/recommendations/Recommend-StorageAccountOptimizationsToBlobStorage.ps1
  src/optimization-engine/runbooks/recommendations/Recommend-UnattachedDisksToBlobStorage.ps1
  src/optimization-engine/runbooks/recommendations/Recommend-UnusedAppGWsToBlobStorage.ps1
  src/optimization-engine/runbooks/recommendations/Recommend-UnusedLoadBalancersToBlobStorage.ps1
  src/optimization-engine/runbooks/recommendations/Recommend-VMOptimizationsToBlobStorage.ps1
  src/optimization-engine/runbooks/recommendations/Recommend-VMSSOptimizationsToBlobStorage.ps1
  src/optimization-engine/runbooks/recommendations/Recommend-VMsHighAvailabilityToBlobStorage.ps1
  src/optimization-engine/runbooks/recommendations/Recommend-VNetOptimizationsToBlobStorage.ps1
  src/optimization-engine/runbooks/remediations/Remediate-AdvisorRightSizeFiltered.ps1
  src/optimization-engine/runbooks/remediations/Remediate-LongDeallocatedVMsFiltered.ps1
  src/optimization-engine/runbooks/remediations/Remediate-UnattachedDisksFiltered.ps1
  src/optimization-engine/upgrade-manifest.json
Labels: Status: ▶️ Ready, Tool: Optimization Engine

#870 Update changelog to include changes from PRs 866, 869 and 868
  docs/_resources/changelog.md
Labels: Skill: Documentation, Micro PR 🔬, Needs: Review 👀

#858 Update managed export instructions
  docs/_reporting/hubs/configure-scopes.md
  src/images/hubs-scopes.jpg
Labels: Micro PR 🔬, Status: ▶️ Ready

#889 FOCUS recon doc feedback
  docs/_docs/focus/validate.md
Labels: Skill: Documentation, Needs: Review 👀, Tool: FinOps guide

#886 Enhancing Ease of Use by Removing Management Group Filter
  docs/deploy/governance-workbook-preview.json
  docs/deploy/governance-workbook-preview.ui.json
  src/workbooks/governance/workbook.json
Labels: Skill: Workbooks, Tool: Governance workbook

#894 Changelog update for Governance workbook v0.5
  docs/_resources/changelog.md
Labels: Skill: Documentation, Needs: Review 👀

#892 Clarify Hubs cost estimate
  docs/_reporting/hubs/README.md
  docs/_resources/changelog.md
Labels: Skill: Documentation, Micro PR 🔬, Tool: FinOps hubs

#896 Root folder path for exports should not start with a slash
  src/templates/finops-hub/modules/dataFactory.bicep
Labels: Type: Bug 🐛, Micro PR 🔬, Status: 🔬 Code review, Skill: Deployment, Needs: Review 👀, Tool: FinOps hubs

#897 Use "number of months" when rangeStart or rangeEnd are null
  src/power-bi/Shared.Dataset/definition/expressions.tmdl
Labels: Micro PR 🔬, Type: Cleanup, Status: 🔬 Code review, Tool: Power BI, Needs: Review 👀

#904 Service categorization updates
  docs/_resources/changelog.md
  src/open-data/Services.csv
Labels: Micro PR 🔬, Needs: Review 👀, Tool: Open data

#829 Adding fabric content
  docs-mslearn/fabric/create-finops-workspace.md
  docs-mslearn/fabric/media/create-fabric-workspace-finops/endpoints-page-storage-account.png
  docs-mslearn/fabric/media/create-fabric-workspace-finops/exports-cost-and-usage-focus.png
  docs-mslearn/fabric/media/create-fabric-workspace-finops/fabric-create-workspace.png
  docs-mslearn/fabric/media/create-fabric-workspace-finops/fabric-lakehouse-copy-path-load-table.png
  docs-mslearn/fabric/media/create-fabric-workspace-finops/fabric-load-table-lakehouse.png
  docs-mslearn/fabric/media/create-fabric-workspace-finops/fabric-new-lakehouse.png
  docs-mslearn/fabric/media/create-fabric-workspace-finops/fabric-new-more-options.png
  docs-mslearn/fabric/media/create-fabric-workspace-finops/fabric-new-shortcut-connection-settings.png
  docs-mslearn/fabric/media/create-fabric-workspace-finops/fabric-new-shortcut.png
  docs-mslearn/fabric/media/create-fabric-workspace-finops/load-folder-to-new-table.png
  docs-mslearn/fabric/media/create-fabric-workspace-finops/load-to-tables-new-table.png
  docs-mslearn/fabric/media/create-fabric-workspace-finops/schedule-tab.png
  docs-mslearn/fabric/media/create-fabric-workspace-finops/storage-account-configuration-gen-2.png
Labels: Skill: Documentation, Needs: Review 👀, Needs: Attention 👋, Tool: FinOps guide

#906 Remove en-us from open data links
  src/scripts/Build-OpenData.ps1
Labels: Micro PR 🔬, Skill: DevOps, Status: ▶️ Ready

#880 Create issue templates for release plan and release checklist
  .github/ISSUE_TEMPLATE/-internal-only--release-checklist.md
  .github/ISSUE_TEMPLATE/🚀-release--internal-only-.md
Labels: Skill: DevOps, Needs: Review 👀

#805 feat: Create materialized view for FocusClean table
  src/templates/finops-hub/modules/adxTableSchema.kql
  src/templates/finops-hub/modules/adxViews.kql
Labels: Needs: Review 👀, Needs: Attention 👋, Tool: FinOps hubs

#891 Update Package-Toolkit.ps1 to support preview deployment files
  src/optimization-engine/package-manifest.json
  src/scripts/Package-Toolkit.ps1
  src/scripts/README.md
Labels: Skill: DevOps, Needs: Review 👀

#899 Fix eventGridLocation parameter name
  docs/_reporting/hubs/template.md
  src/templates/finops-hub/main.bicep
  src/templates/finops-hub/modules/hub.bicep
Labels: Micro PR 🔬, Needs: Review 👀, Tool: FinOps hubs

#900 Add ADF transform files
  src/templates/finops-hub/modules/storage.bicep
  src/templates/finops-hub/schemas/pricesheet_2023-05-01_ea.json
  src/templates/finops-hub/schemas/pricesheet_2023-05-01_mca.json
  src/templates/finops-hub/schemas/reservationdetails_2023-05-01.json
  src/templates/finops-hub/schemas/reservationrecommendations_2023-05-01_ea.json
  src/templates/finops-hub/schemas/reservationrecommendations_2023-05-01_mca.json
  src/templates/finops-hub/schemas/reservationtransactions_2023-05-01_ea.json
  src/templates/finops-hub/schemas/reservationtransactions_2023-05-01_mca.json
Labels: Micro PR 🔬, Needs: Review 👀, Tool: FinOps hubs

#907 Update all capability video links
  docs/_docs/framework/capabilities/manage/education.md
  docs/_docs/framework/capabilities/manage/intersecting-disciplines.md
  docs/_docs/framework/capabilities/manage/invoicing-chargeback.md
  docs/_docs/framework/capabilities/manage/onboarding.md
  docs/_docs/framework/capabilities/manage/policy.md
  docs/_docs/framework/capabilities/manage/tools-and-services.md
  docs/_docs/framework/capabilities/optimize/architecting.md
  docs/_docs/framework/capabilities/optimize/licensing.md
  docs/_docs/framework/capabilities/optimize/rates.md
  docs/_docs/framework/capabilities/optimize/sustainability.md
  docs/_docs/framework/capabilities/optimize/workloads.md
  docs/_docs/framework/capabilities/quantify/budgeting.md
  docs/_docs/framework/capabilities/quantify/forecasting.md
  docs/_docs/framework/capabilities/quantify/unit-economics.md
  docs/_docs/framework/capabilities/understand/allocation.md
  docs/_docs/framework/capabilities/understand/anomalies.md
  docs/_docs/framework/capabilities/understand/ingestion.md
  docs/_docs/framework/capabilities/understand/reporting.md
Labels: Skill: Documentation, Needs: Review 👀, Tool: FinOps guide

#898 Doc update - configure scopes
  docs/_reporting/hubs/configure-scopes.md
Labels: Skill: Documentation, Micro PR 🔬, Status: ▶️ Ready, Tool: FinOps hubs

#911 Update README.md
  docs/_reporting/hubs/README.md
Labels: Skill: Documentation, Needs: Review 👀, Tool: FinOps hubs

#923 Update pricing units for Aug 2024
  docs/_resources/changelog.md
  src/open-data/PricingUnits.csv
  src/open-data/README.md
  src/powershell/Private/Get-OpenDataPricingUnit.ps1
Labels: Micro PR 🔬, Needs: Review 👀

#925 Update regions for Aug 2024
  docs/_resources/changelog.md
  src/open-data/README.md
  src/open-data/Regions.csv
  src/powershell/Private/Get-OpenDataRegion.ps1
Labels: Micro PR 🔬, Needs: Review 👀

#929 Fix or conditions in issue policy
  .github/policies/issues-03-needs-info.yml
Labels: Micro PR 🔬, Skill: DevOps, Needs: Review 👀

#927 Update services open data for Aug 2024
  docs/_resources/changelog.md
  src/open-data/README.md
  src/open-data/Services.csv
  src/powershell/Private/Get-OpenDataService.ps1
Labels: Micro PR 🔬, Needs: Review 👀, Tool: Open data

#928 Update resource type open data for Aug 2024
  docs/_resources/changelog.md
  src/open-data/README.md
  src/open-data/ResourceTypes.Overrides.json
  src/open-data/ResourceTypes.csv
  src/open-data/ResourceTypes.json
  src/powershell/Private/Get-OpenDataResourceType.ps1
  src/scripts/Build-OpenData.ps1
Labels: Needs: Review 👀, Tool: Open data

#937 Strip slashes in export storage paths
  docs/_resources/changelog.md
  src/powershell/Public/New-FinOpsCostExport.ps1
Labels: Type: Bug 🐛, Tool: PowerShell

#917 Auto Update Open Data Workflow
  .github/workflows/opendata-ci.yml
Labels: Skill: DevOps, Needs: Review 👀

#940 Fix single scope array bug
  docs/_reporting/hubs/configure-scopes.md
  docs/_resources/changelog.md
  src/powershell/Public/Add-FinOpsHubScope.ps1
  src/templates/finops-hub/modules/dataFactory.bicep
Labels: Needs: Review 👀
