Repository microsoft/finops-toolkit, pull requests merged in 2024-11, with the labels that each got.

#1066 Infrastructure Encryption
  docs/_resources/changelog.md
  docs/deploy/finops-hub-preview.json
  docs/deploy/finops-hub-preview.ui.json
  src/templates/finops-hub/createUiDefinition.json
  src/templates/finops-hub/main.bicep
  src/templates/finops-hub/modules/hub.bicep
  src/templates/finops-hub/modules/storage.bicep
Labels: Micro PR 🔬, Needs: Review 👀

#1106 Merge fixes
  src/templates/finops-hub/modules/dataExplorer.bicep
  src/templates/finops-hub/modules/scripts/IngestionSetup.kql
  src/templates/finops-hub/modules/storage.bicep
Labels: Micro PR 🔬, Needs: Review 👀, Tool: FinOps hubs

#1100 Fixes several hubs Bicep issues and improves AOE docs
  docs/_optimize/optimization-engine/reports.md
  docs/assets/images/aoe/powerbi-recdetails-recommendationid.jpg
  docs/assets/images/aoe/powerbi-transformdata.jpg
  docs/assets/images/aoe/workbooks-blockblobusage-standardv2.jpg
  src/templates/finops-hub/modules/dataExplorer.bicep
Labels: Needs: Review 👀

#1103 Hubs: Add support for focuscost 1.0r2
  docs/_resources/changelog.md
  src/templates/finops-hub/modules/storage.bicep
  src/templates/finops-hub/schemas/focuscost_1.0r2.json
Labels: Needs: Review 👀, Tool: FinOps hubs

#1094 Infra encryption error documentation
  docs/_resources/changelog.md
  docs/_resources/errors.md
  src/templates/finops-hub/createUiDefinition.json
  src/templates/finops-hub/modules/storage.bicep
Labels: Micro PR 🔬, Needs: Review 👀

#1097 Update help me choose to include ADX
  docs/_reporting/hubs/README.md
  docs/_reporting/power-bi/README.md
Labels: Skill: Documentation, Micro PR 🔬, Tool: Power BI, Needs: Review 👀

#1109 Fix double-counted savings plan purchases
  docs/_resources/changelog.md
  docs/_resources/errors.md
  src/power-bi/storage/CostSummary.Report/report.json
  src/power-bi/storage/Shared.Dataset/definition/tables/CostDetails.tmdl
  src/scripts/Deploy-Toolkit.ps1
  src/templates/finops-hub/errors.json
  src/templates/finops-hub/modules/scripts/Common.kql
  src/templates/finops-hub/modules/scripts/IngestionSetup.kql
Labels: Micro PR 🔬, Tool: Power BI, Needs: Review 👀, Tool: FinOps hubs

#1114 Private endpoints for Azure Data Explorer.
  docs/_reporting/hubs/template.md
  docs/_resources/changelog.md
  src/templates/finops-hub/main.bicep
  src/templates/finops-hub/modules/dataExplorer.bicep
  src/templates/finops-hub/modules/dataExplorerEndpoints.bicep
  src/templates/finops-hub/modules/dataFactory.bicep
  src/templates/finops-hub/modules/hub.bicep
  src/templates/finops-hub/modules/storage.bicep
  src/templates/finops-hub/modules/vnet.bicep
Labels: Type: Feature 💎, Status: 🔬 Code review, Skill: Data factory, Needs: Review 👀, Tool: FinOps hubs

#1122 Move delay to nested pipeline to avoid blocking when ingesting into ADX.
  src/templates/finops-hub/modules/dataFactory.bicep
Labels: Type: Cleanup, Status: 🔬 Code review, Skill: Data factory, Skill: Deployment, Needs: Review 👀, Tool: FinOps hubs, Resolution: Automerge

#1116 KQL-based Power BI reports
  docs/_reporting/hubs/data-processing.md
  docs/_reporting/power-bi/README.md
  docs/_reporting/power-bi/cost-summary.md
  docs/_reporting/power-bi/rate-optimization.md
  docs/_resources/changelog.md
  src/power-bi/kql/CostSummary.Report/.platform
  src/power-bi/kql/CostSummary.Report/StaticResources/RegisteredResources/ACMLearnMore3455599414129229.png
  src/power-bi/kql/CostSummary.Report/StaticResources/RegisteredResources/AzureCost_HeroAdjustment-Resize2x5775843843846507.png
  src/power-bi/kql/CostSummary.Report/StaticResources/RegisteredResources/Ibiza_Data_Visualization_Theme4744941034384995.json
  src/power-bi/kql/CostSummary.Report/StaticResources/RegisteredResources/LearnMore7090101546343053.png
  src/power-bi/kql/CostSummary.Report/StaticResources/RegisteredResources/feedback3410273840221807.png
  src/power-bi/kql/CostSummary.Report/StaticResources/SharedResources/BaseThemes/CY19SU06.json
  src/power-bi/kql/CostSummary.Report/definition.pbir
  src/power-bi/kql/CostSummary.Report/report.json
  src/power-bi/kql/CostSummary.SemanticModel/.pbi/editorSettings.json
  src/power-bi/kql/CostSummary.SemanticModel/.platform
  src/power-bi/kql/CostSummary.SemanticModel/definition.pbism
  src/power-bi/kql/CostSummary.SemanticModel/definition/cultures/en-US.tmdl
  src/power-bi/kql/CostSummary.SemanticModel/definition/database.tmdl
  src/power-bi/kql/CostSummary.SemanticModel/definition/expressions.tmdl
  src/power-bi/kql/CostSummary.SemanticModel/definition/model.tmdl
  src/power-bi/kql/CostSummary.SemanticModel/definition/tables/ChargeBreakdown.tmdl
  src/power-bi/kql/CostSummary.SemanticModel/definition/tables/PurchaseCosts.tmdl
  src/power-bi/kql/CostSummary.SemanticModel/definition/tables/ResourceCosts.tmdl
  src/power-bi/kql/CostSummary.SemanticModel/definition/tables/SkuPrices.tmdl
  src/power-bi/kql/CostSummary.SemanticModel/definition/tables/TagCosts.tmdl
  src/power-bi/kql/CostSummary.SemanticModel/diagramLayout.json
  src/power-bi/kql/CostSummary.pbip
  src/power-bi/kql/RateOptimization.Report/.platform
  src/power-bi/kql/RateOptimization.Report/StaticResources/RegisteredResources/ACMLearnMore3455599414129229.png
  src/power-bi/kql/RateOptimization.Report/StaticResources/RegisteredResources/AzureCost_HeroAdjustment-Resize2x5775843843846507.png
  src/power-bi/kql/RateOptimization.Report/StaticResources/RegisteredResources/Ibiza_Data_Visualization_Theme4744941034384995.json
  src/power-bi/kql/RateOptimization.Report/StaticResources/RegisteredResources/LearnMore7090101546343053.png
  src/power-bi/kql/RateOptimization.Report/StaticResources/RegisteredResources/feedback3410273840221807.png
  src/power-bi/kql/RateOptimization.Report/StaticResources/SharedResources/BaseThemes/CY19SU06.json
  src/power-bi/kql/RateOptimization.Report/definition.pbir
  src/power-bi/kql/RateOptimization.Report/report.json
  src/power-bi/kql/RateOptimization.SemanticModel/.pbi/editorSettings.json
  src/power-bi/kql/RateOptimization.SemanticModel/.platform
  src/power-bi/kql/RateOptimization.SemanticModel/definition.pbism
  src/power-bi/kql/RateOptimization.SemanticModel/definition/cultures/en-US.tmdl
  src/power-bi/kql/RateOptimization.SemanticModel/definition/database.tmdl
  src/power-bi/kql/RateOptimization.SemanticModel/definition/expressions.tmdl
  src/power-bi/kql/RateOptimization.SemanticModel/definition/model.tmdl
  src/power-bi/kql/RateOptimization.SemanticModel/definition/relationships.tmdl
  src/power-bi/kql/RateOptimization.SemanticModel/definition/tables/CommitmentDiscountCosts.tmdl
  src/power-bi/kql/RateOptimization.SemanticModel/definition/tables/HybridBenefitCosts.tmdl
  src/power-bi/kql/RateOptimization.SemanticModel/definition/tables/InstanceSizeFlexibility.tmdl
  src/power-bi/kql/RateOptimization.SemanticModel/definition/tables/ReservationRecommendations.tmdl
  src/power-bi/kql/RateOptimization.SemanticModel/definition/tables/SkuPrices.tmdl
  src/power-bi/kql/RateOptimization.SemanticModel/diagramLayout.json
  src/power-bi/kql/RateOptimization.pbip
  src/templates/finops-hub/modules/scripts/Common.kql
  src/templates/finops-hub/modules/scripts/IngestionSetup.kql
Labels: Needs: Review 👀, Tool: FinOps hubs

#1132 Handle when exported dataset has no rows
  src/templates/finops-hub/modules/dataFactory.bicep
Labels: Micro PR 🔬, Skill: Deployment, Needs: Review 👀, Tool: FinOps hubs

#1133 Add file name to ADX mapping
  src/templates/finops-hub/modules/dataFactory.bicep
Labels: Micro PR 🔬, Skill: Deployment, Needs: Review 👀, Tool: FinOps hubs

#1134 Handle more missing price scenarios
  src/templates/finops-hub/modules/scripts/IngestionSetup.kql
Labels: Micro PR 🔬, Needs: Review 👀, Tool: FinOps hubs

#1135 Remove old queries
  src/power-bi/kql/RateOptimization.SemanticModel/definition/cultures/en-US.tmdl
  src/power-bi/kql/RateOptimization.SemanticModel/definition/expressions.tmdl
  src/power-bi/kql/RateOptimization.SemanticModel/definition/model.tmdl
Labels: Micro PR 🔬, Tool: Power BI, Needs: Review 👀

#1136 Set the commitment discount service to Compute for savings plans
  src/power-bi/kql/RateOptimization.SemanticModel/definition/tables/CommitmentDiscountCosts.tmdl
Labels: Micro PR 🔬, Tool: Power BI, Needs: Review 👀

#1145 Use .ingest for ADX ingestion
  src/templates/finops-hub/modules/dataExplorer.bicep
  src/templates/finops-hub/modules/dataFactory.bicep
  src/templates/finops-hub/modules/hub.bicep
  src/templates/finops-hub/modules/scripts/HubSetup.kql
  src/templates/finops-hub/modules/scripts/IngestionSetup.kql
Labels: Needs: Review 👀, Tool: FinOps hubs

#1148 Trigger ADX ingestion from manifest file.
  src/templates/finops-hub/modules/dataFactory.bicep
Labels: Skill: Deployment, Needs: Review 👀, Tool: FinOps hubs

#1149 Copy export manifest to ingestion container
  src/templates/finops-hub/modules/dataFactory.bicep
Labels: Skill: Deployment, Needs: Review 👀, Tool: FinOps hubs

#1147 Fix ADX script dependencies
  src/templates/finops-hub/modules/dataExplorer.bicep
Labels: Micro PR 🔬, Skill: Deployment, Needs: Review 👀, Tool: FinOps hubs

#1150 Update hubs docs
  docs/_reporting/hubs/data-processing.md
  docs/_reporting/hubs/template.md
  docs/_resources/errors.md
  src/templates/finops-hub/errors.json
  src/templates/finops-hub/modules/dataFactory.bicep
Labels: Skill: Documentation, Micro PR 🔬, Needs: Review 👀, Tool: FinOps hubs

#1137 Experimental report layout
  src/power-bi/kql/RateOptimization.Report/report.json
Labels: Micro PR 🔬, Tool: Power BI, Needs: Review 👀

#1151 Fix setup dependencies for ADX deployment
  src/templates/finops-hub/createUiDefinition.json
  src/templates/finops-hub/modules/dataExplorer.bicep
  src/templates/finops-hub/modules/dataFactory.bicep
  src/templates/finops-hub/modules/hub.bicep
  src/templates/finops-hub/modules/keyVault.bicep
  src/templates/finops-hub/modules/scripts/Common.kql
  src/templates/finops-hub/modules/scripts/IngestionSetup.kql
  src/templates/finops-hub/modules/storage.bicep
  src/templates/finops-hub/modules/vnet.bicep
Labels: Type: Bug 🐛, Status: 🔬 Code review, Needs: Review 👀, Tool: FinOps hubs, Resolution: Automerge

#1162 Fix DNS entries for DFS endpoint
  src/templates/finops-hub/modules/storage.bicep
Labels: Type: Bug 🐛, Micro PR 🔬, Status: 🔬 Code review, Skill: Data factory, Skill: Deployment, Needs: Review 👀, Tool: FinOps hubs

#1159 Board/council updates
  docs-wiki/Advisory-council.md
  docs-wiki/Governing-board.md
Labels: Micro PR 🔬, Needs: Review 👀

#1158 Update PBI on storage estimates to $2M max
  docs/_reporting/hubs/README.md
  docs/_reporting/power-bi/README.md
  docs/_resources/changelog.md
Labels: Skill: Documentation, Needs: Review 👀

#1160 Add private endpoints to the hubs create form
  docs/deploy/finops-hub-0.7.json
  docs/deploy/finops-hub-0.7.ui.json
  docs/deploy/finops-hub-latest.json
  docs/deploy/finops-hub-latest.ui.json
  src/templates/finops-hub/createUiDefinition.json
  src/templates/finops-hub/main.bicep
Labels: Micro PR 🔬, Needs: Review 👀, Tool: FinOps hubs

#1153 Clarify FOCUS conversion instructions
  .all-contributorsrc
  README.md
  docs/README.md
  docs/_docs/focus/convert.md
  docs/_resources/changelog.md
Labels: Skill: Documentation, Micro PR 🔬, Needs: Review 👀, Tool: FinOps guide

#1077 PR for [UX] Migrate existing markdown content to TSX pages #1056 Turn UX Design to Implementation
  src/web/components/FluentUIProvider.tsx
  src/web/components/SideBar.tsx
  src/web/components/TopMenuBar.tsx
  src/web/package-lock.json
  src/web/package.json
  src/web/pages/App.tsx
  src/web/pages/PowerBIReportsPage.tsx
  src/web/pages/SamplePage.tsx
  src/web/pages/__tests__/App.test.tsx
  src/web/pages/__tests__/SamplePage.test.tsx
  src/web/pages/__tests__/SideBar.test.tsx
  src/web/pages/__tests__/TopMenuBar.test.tsx
  src/web/public/logo-windows.png
  src/web/public/sidebar-left-svgrepo-com.png
  src/web/public/sidebar-right-svgrepo-com.png
  src/web/tsconfig.json
Labels: Needs: Attention 👋, Tool: Web app

#1164 Semantic model relationship updates in Workload Optimization PowerBI
  src/power-bi/storage/Shared.Dataset/definition/model.tmdl
  src/power-bi/storage/Shared.Dataset/definition/relationships.tmdl
  src/power-bi/storage/Shared.Dataset/definition/tables/Advisor for disks.tmdl
  src/power-bi/storage/Shared.Dataset/definition/tables/Compliance calculation.tmdl
  src/power-bi/storage/Shared.Dataset/definition/tables/InstanceSizeFlexibility.tmdl
  src/power-bi/storage/Shared.Dataset/definition/tables/NetworkSecurityGroups.tmdl
  src/power-bi/storage/Shared.Dataset/definition/tables/ReservationRecomendations.tmdl
  src/power-bi/storage/Shared.Dataset/diagramLayout.json
Labels: Micro PR 🔬, Tool: Power BI, Needs: Review 👀

#1168 Fix hubs createUiDefinition.json
  docs/deploy/finops-hub-0.7.json
  docs/deploy/finops-hub-0.7.ui.json
  docs/deploy/finops-hub-latest.json
  docs/deploy/finops-hub-latest.ui.json
  src/templates/finops-hub/createUiDefinition.json
Labels: Micro PR 🔬, Needs: Review 👀
