Repository microsoft/finops-toolkit, pull requests merged in 2025-05, with the labels that each got.

#1549 ARG query fixes
  docs-mslearn/toolkit/changelog.md
  src/power-bi/kql/Governance.Report/report.json
  src/power-bi/kql/Shared.Dataset/definition/cultures/en-US.tmdl
  src/power-bi/kql/Shared.Dataset/definition/expressions.tmdl
  src/power-bi/kql/Shared.Dataset/definition/model.tmdl
  src/power-bi/kql/Shared.Dataset/definition/relationships.tmdl
  src/power-bi/kql/Shared.Dataset/definition/tables/AdvisorRecommendations.tmdl
  src/power-bi/kql/Shared.Dataset/definition/tables/AdvisorReservationRecommendations.tmdl
  src/power-bi/kql/Shared.Dataset/definition/tables/Disks.tmdl
  src/power-bi/kql/Shared.Dataset/definition/tables/ManagementGroups.tmdl
  src/power-bi/kql/Shared.Dataset/definition/tables/NetworkInterfaces.tmdl
  src/power-bi/kql/Shared.Dataset/definition/tables/NetworkSecurityGroups.tmdl
  src/power-bi/kql/Shared.Dataset/definition/tables/PolicyAssignments.tmdl
  src/power-bi/kql/Shared.Dataset/definition/tables/PolicyDefinitions.tmdl
  src/power-bi/kql/Shared.Dataset/definition/tables/PolicyStates.tmdl
  src/power-bi/kql/Shared.Dataset/definition/tables/PublicIPAddresses.tmdl
  src/power-bi/kql/Shared.Dataset/definition/tables/Resources.tmdl
  src/power-bi/kql/Shared.Dataset/definition/tables/SqlDatabases.tmdl
  src/power-bi/kql/Shared.Dataset/definition/tables/Subscriptions.tmdl
  src/power-bi/kql/Shared.Dataset/definition/tables/VirtualMachines.tmdl
  src/power-bi/kql/Shared.Dataset/diagramLayout.json
  src/power-bi/kql/WorkloadOptimization.Report/definition.pbir
  src/power-bi/kql/WorkloadOptimization.Report/report.json
  src/power-bi/storage/Governance.Report/report.json
  src/power-bi/storage/Shared.Dataset/definition/cultures/en-US.tmdl
  src/power-bi/storage/Shared.Dataset/definition/expressions.tmdl
  src/power-bi/storage/Shared.Dataset/definition/model.tmdl
  src/power-bi/storage/Shared.Dataset/definition/relationships.tmdl
  src/power-bi/storage/Shared.Dataset/definition/tables/AdvisorRecommendations.tmdl
  src/power-bi/storage/Shared.Dataset/definition/tables/AdvisorReservationRecommendations.tmdl
  src/power-bi/storage/Shared.Dataset/definition/tables/Costs.tmdl
  src/power-bi/storage/Shared.Dataset/definition/tables/Disks.tmdl
  src/power-bi/storage/Shared.Dataset/definition/tables/ManagementGroups.tmdl
  src/power-bi/storage/Shared.Dataset/definition/tables/NetworkInterfaces.tmdl
  src/power-bi/storage/Shared.Dataset/definition/tables/NetworkSecurityGroups.tmdl
  src/power-bi/storage/Shared.Dataset/definition/tables/PolicyAssignments.tmdl
  src/power-bi/storage/Shared.Dataset/definition/tables/PolicyDefinitions.tmdl
  src/power-bi/storage/Shared.Dataset/definition/tables/PolicyStates.tmdl
  src/power-bi/storage/Shared.Dataset/definition/tables/PublicIPAddresses.tmdl
  src/power-bi/storage/Shared.Dataset/definition/tables/ReservationRecommendations.tmdl
  src/power-bi/storage/Shared.Dataset/definition/tables/Resources.tmdl
  src/power-bi/storage/Shared.Dataset/definition/tables/SqlDatabases.tmdl
  src/power-bi/storage/Shared.Dataset/definition/tables/StorageData.tmdl
  src/power-bi/storage/Shared.Dataset/definition/tables/Subscriptions.tmdl
  src/power-bi/storage/Shared.Dataset/definition/tables/VirtualMachines.tmdl
  src/power-bi/storage/Shared.Dataset/diagramLayout.json
  src/power-bi/storage/WorkloadOptimization.Report/report.json
Labels: Tool: Power BI, Needs: Review 👀

#1554 Fixed slicer sync across tabs and add last refresh times on getting started tabs for costs reports.
  src/power-bi/kql/CostSummary.Report/report.json
  src/power-bi/kql/DataIngestion.Report/report.json
  src/power-bi/kql/Governance.Report/report.json
  src/power-bi/kql/RateOptimization.Report/report.json
  src/power-bi/storage/CostSummary.Report/report.json
  src/power-bi/storage/DataIngestion.Report/report.json
  src/power-bi/storage/Governance.Report/report.json
  src/power-bi/storage/RateOptimization.Report/report.json
Labels: Tool: Power BI, Needs: Review 👀

#1547 Update merge script to be less noisy
  src/scripts/Merge-DevBranch.ps1
Labels: Skill: DevOps, Needs: Review 👀

#1546 Document error messages
  docs-mslearn/toolkit/changelog.md
  docs-mslearn/toolkit/help/errors.md
  docs-mslearn/toolkit/power-bi/setup.md
  docs/hubs.md
  docs/power-bi.md
Labels: Skill: Documentation, Micro PR 🔬, Needs: Review 👀

#1490 Handle missing costs and quantities
  docs-mslearn/toolkit/changelog.md
  docs-mslearn/toolkit/hubs/data-processing.md
  src/templates/finops-hub/modules/scripts/IngestionSetup.kql
Labels: Needs: Review 👀, Tool: FinOps hubs

#1514 [Hub apps] Move storage account creation to the hub-app module
  docs-mslearn/toolkit/changelog.md
  src/templates/finops-hub/modules/core-network.bicep
  src/templates/finops-hub/modules/hub-app.bicep
  src/templates/finops-hub/modules/hub-types.bicep
  src/templates/finops-hub/modules/hub.bicep
  src/templates/finops-hub/modules/storage.bicep
Labels: Needs: Review 👀, Tool: FinOps hubs

#1560 Update open data for Apr 2025
  docs-mslearn/toolkit/changelog.md
  docs/svg/microsoft.applicationmigration/discoveryhubs.svg
  docs/svg/microsoft.applicationmigration/discoveryhubs/applications.svg
  docs/svg/microsoft.applicationmigration/discoveryhubs/applications/members.svg
  docs/svg/microsoft.applicationmigration/pgsqlsites.svg
  docs/svg/microsoft.applicationmigration/pgsqlsites/agents.svg
  docs/svg/microsoft.applicationmigration/pgsqlsites/pgsqldatabases.svg
  docs/svg/microsoft.applicationmigration/pgsqlsites/pgsqlinstances.svg
  docs/svg/microsoft.azurecis/azcopies.svg
  docs/svg/microsoft.billingbenefits/credits.svg
  docs/svg/microsoft.billingbenefits/discounts.svg
  docs/svg/microsoft.cognitiveservices/browseallservices.svg
  docs/svg/microsoft.containerservice/managedclusters/namespaces.svg
  docs/svg/microsoft.migrate/assessmentprojects/assessments.svg
  docs/svg/microsoft.migrate/assessmentprojects/assessments/assessedmachines.svg
  docs/svg/microsoft.migrate/assessmentprojects/assessments/summaries.svg
  docs/svg/microsoft.migrate/assessmentprojects/avsassessments.svg
  docs/svg/microsoft.migrate/assessmentprojects/avsassessments/avsassessedmachines.svg
  docs/svg/microsoft.migrate/assessmentprojects/avsassessments/summaries.svg
  docs/svg/microsoft.migrate/assessmentprojects/heterogeneousassessments.svg
  docs/svg/microsoft.migrate/assessmentprojects/heterogeneousassessments/summaries.svg
  docs/svg/microsoft.migrate/assessmentprojects/importsqlcollectors.svg
  docs/svg/microsoft.migrate/assessmentprojects/sqlassessments.svg
  docs/svg/microsoft.migrate/assessmentprojects/sqlassessments/assessedsqldatabases.svg
  docs/svg/microsoft.migrate/assessmentprojects/sqlassessments/assessedsqlinstances.svg
  docs/svg/microsoft.migrate/assessmentprojects/sqlassessments/assessedsqlmachines.svg
  docs/svg/microsoft.migrate/assessmentprojects/sqlassessments/summaries.svg
  docs/svg/microsoft.migrate/assessmentprojects/webappassessments.svg
  docs/svg/microsoft.migrate/assessmentprojects/webappassessments/assessedwebapps.svg
  docs/svg/microsoft.migrate/assessmentprojects/webappassessments/summaries.svg
  docs/svg/microsoft.migrate/assessmentprojects/webappassessments/webappserviceplans.svg
  docs/svg/microsoft.migrate/assessmentprojects/webappcompoundassessments.svg
  docs/svg/microsoft.migrate/assessmentprojects/webappcompoundassessments/summaries.svg
  docs/svg/microsoft.netapp/netappaccounts/backuppolicies.svg
  docs/svg/microsoft.quantum/provideraccounts.svg
  docs/svg/microsoft.relationships/servicegrouprelationships.svg
  docs/svg/microsoft.saashub/saasresources.svg
  docs/svg/microsoft.sentinelplatformservices/sentinelplatformservices.svg
  docs/svg/oracle.database/networkanchors.svg
  docs/svg/oracle.database/resourceanchors.svg
  src/open-data/PricingUnits.csv
  src/open-data/Regions.csv
  src/open-data/ResourceTypes.csv
  src/open-data/ResourceTypes.json
  src/powershell/Private/Get-OpenDataPricingUnit.ps1
  src/powershell/Private/Get-OpenDataRegion.ps1
  src/powershell/Private/Get-OpenDataResourceType.ps1
  src/templates/finops-hub/modules/scripts/OpenDataFunctions_resource_type_1.kql
  src/templates/finops-hub/modules/scripts/OpenDataFunctions_resource_type_2.kql
  src/templates/finops-hub/modules/scripts/OpenDataFunctions_resource_type_3.kql
  src/templates/finops-hub/modules/scripts/OpenDataFunctions_resource_type_4.kql
Labels: Needs: Review 👀

#1563 Fix: IngestionSetup.kql: return types are not compatible. Number of different types: Distinct types: Decimal,I64.
  src/templates/finops-hub/modules/scripts/IngestionSetup.kql
Labels: Micro PR 🔬, Needs: Review 👀, Tool: FinOps hubs

#1562 Fix Split-AzureResourceId tests
  src/powershell/Tests/Unit/Split-AzureResourceId.Tests.ps1
Labels: Micro PR 🔬, Needs: Review 👀, Tool: PowerShell

#1574 Add FinOps alerts telemetry
  docs-mslearn/toolkit/changelog.md
  src/templates/finops-alerts/main.bicep
  src/templates/finops-alerts/modules/ftkver.txt
Labels: Micro PR 🔬, Needs: Review 👀

#1580 [Hub apps] Move ADF/KV to hub-app + create RemoteHub app
  src/templates/finops-hub/modules/hub-app.bicep
  src/templates/finops-hub/modules/hub-types.bicep
  src/templates/finops-hub/modules/hub.bicep
  src/templates/finops-hub/modules/keyVault.bicep
  src/templates/finops-hub/modules/remoteHub.bicep
Labels: Skill: Deployment, Needs: Review 👀, Tool: FinOps hubs

#1575 Document 0.9/10 upgrade and capability
  docs-mslearn/toolkit/changelog.md
  docs-mslearn/toolkit/hubs/compatibility.md
  docs-mslearn/toolkit/hubs/upgrade.md
Labels: Micro PR 🔬, Needs: Review 👀

#1590 Update data processing documentation to reflect changes for #1371
  docs-mslearn/toolkit/hubs/data-processing.md
Labels: Needs: Review 👀

#1588 Move telemetry setting into config
  docs-mslearn/toolkit/changelog.md
  src/templates/finops-hub/modules/hub-app.bicep
  src/templates/finops-hub/modules/hub-types.bicep
  src/templates/finops-hub/modules/hub.bicep
  src/templates/finops-hub/modules/remoteHub.bicep
Labels: Skill: Deployment, Needs: Review 👀, Tool: FinOps hubs

#1404 Add GitHub Pages workflow for UX deployment
  .github/workflows/ux-pages.yml
  src/web/components/Showcase/ShowcaseBackground.png
  src/web/components/__tests__/SideBar.test.tsx
  src/web/pages/App.tsx
  src/web/tsconfig.app.tsbuildinfo
  src/web/tsconfig.node.tsbuildinfo
  src/web/vite.config.ts
Labels: Status: ▶️ Ready, Tool: Web app

#1596 Add C360 actual/amortized to FOCUS transforms
  docs-mslearn/toolkit/changelog.md
  docs-mslearn/toolkit/hubs/data-processing.md
  src/templates/finops-hub/modules/scripts/IngestionSetup.kql
Labels: Needs: Review 👀, Tool: FinOps hubs

#1601 Add docs for GitHub Copilot integration
  docs-mslearn/TOC.yml
  docs-mslearn/toolkit/changelog.md
  docs-mslearn/toolkit/help/data-dictionary.md
  docs-mslearn/toolkit/help/terms.md
  docs-mslearn/toolkit/hubs/configure-ai.md
  docs-mslearn/toolkit/hubs/deploy.md
  docs-mslearn/toolkit/hubs/finops-hubs-overview.md
  docs/hubs.md
  src/queries/INDEX.md
  src/queries/catalog/savings-summary.kql
Labels: Needs: Review 👀, Tool: FinOps hubs

#1610 Added missing service mappings
  docs-mslearn/toolkit/changelog.md
  src/open-data/Services.csv
  src/powershell/Private/Get-OpenDataService.ps1
Labels: Needs: Review 👀

#1591 Merge network setup modules
  docs-mslearn/toolkit/changelog.md
  src/templates/finops-hub/modules/core-network.bicep
  src/templates/finops-hub/modules/hub.bicep
  src/templates/finops-hub/modules/infrastructure.bicep
  src/templates/finops-hub/modules/vnet.bicep
Labels: Needs: Review 👀, Tool: FinOps hubs

#1640 Fix file length issue
  src/scripts/Build-Toolkit.ps1
  src/templates/finops-hub/.buildignore
  src/templates/finops-hub/modules/dataExplorer.bicep
  src/templates/finops-hub/modules/scripts/IngestionSetup_HubInfra.kql
  src/templates/finops-hub/modules/scripts/IngestionSetup_RawTables.kql
  src/templates/finops-hub/modules/scripts/IngestionSetup_v1_0.kql
Labels: Needs: Review 👀, Tool: FinOps hubs

#1646 Fix Start-FinOpsCostExport unit tests
  docs-mslearn/toolkit/changelog.md
  src/powershell/Public/Start-FinOpsCostExport.ps1
  src/powershell/Tests/Unit/Start-FinOpsCostExport.Tests.ps1
Labels: Micro PR 🔬, Needs: Review 👀
