Repository microsoft/finops-toolkit, pull requests merged in 2025-04, with the labels that each got.

#1459 Updates for FinOps alerts
  docs-mslearn/TOC.yml
  docs-mslearn/toolkit/power-bi/workload-optimization.md
  docs-mslearn/toolkit/workbooks/optimization.md
  docs/README.md
  docs/alerts.md
Labels: Micro PR 🔬, Needs: Review 👀

#1414 Improvements to Rate Optimization report
  docs-mslearn/toolkit/changelog.md
  src/power-bi/kql/RateOptimization.Report/report.json
  src/power-bi/kql/Shared.Dataset/definition/cultures/en-US.tmdl
  src/power-bi/kql/Shared.Dataset/definition/tables/AdvisorReservationRecommendations.tmdl
  src/power-bi/kql/Shared.Dataset/definition/tables/ReservationRecommendations.tmdl
  src/power-bi/storage/RateOptimization.Report/report.json
  src/power-bi/storage/Shared.Dataset/definition/cultures/en-US.tmdl
  src/power-bi/storage/Shared.Dataset/definition/expressions.tmdl
  src/power-bi/storage/Shared.Dataset/definition/tables/AdvisorRecommendations.tmdl
  src/power-bi/storage/Shared.Dataset/definition/tables/AdvisorReservationRecommendations.tmdl
  src/power-bi/storage/Shared.Dataset/definition/tables/Costs.tmdl
  src/power-bi/storage/Shared.Dataset/definition/tables/ReservationRecommendations.tmdl
  src/templates/finops-hub/modules/scripts/IngestionSetup.kql
Labels: Tool: Power BI, Needs: Review 👀

#1458 Update CODEOWNERS
  .github/CODEOWNERS
Labels: Micro PR 🔬, Skill: DevOps, Needs: Review 👀

#1461 Fix console errors in templates
  src/templates/finops-alerts/.buildignore
  src/templates/finops-alerts/modules/logicApp.bicep
  src/templates/finops-hub/modules/hub.bicep
Labels: Micro PR 🔬, Needs: Review 👀

#1301 Auto Comment on OpenData CI Failure
  .github/workflows/opendata-ci.yml
Labels: Skill: DevOps, Needs: Review 👀

#1462 Update CODEOWNERS
  .github/CODEOWNERS
Labels: Micro PR 🔬, Skill: DevOps, Needs: Review 👀

#1466 Track hubs deployment options
  docs/deploy/finops-alerts-0.9.json
  docs/deploy/finops-alerts-latest.json
  docs/deploy/finops-hub-0.9.json
  docs/deploy/finops-hub-latest.json
  src/scripts/Package-Toolkit.ps1
  src/templates/finops-hub/modules/hub.bicep
Labels: Micro PR 🔬, Skill: Deployment, Needs: Review 👀, Tool: FinOps hubs

#1469 Update PSModuleCache action
  .github/workflows/dev.yml
  .github/workflows/publish.yml
Labels: Micro PR 🔬, Skill: DevOps, Needs: Review 👀

#1475 Remove old column reference for MCA reservation recommendations
  docs/deploy/finops-hub-0.9.json
  docs/deploy/finops-hub-latest.json
  src/templates/finops-hub/modules/scripts/IngestionSetup.kql
Labels: Micro PR 🔬, Needs: Review 👀, Tool: FinOps hubs, Skill: KQL

#1477 Remove old MeterID column
  docs/deploy/finops-hub-0.9.json
  docs/deploy/finops-hub-latest.json
  src/templates/finops-hub/modules/scripts/IngestionSetup.kql
Labels: Micro PR 🔬, Needs: Review 👀

#1484 Storage report update
  docs-mslearn/toolkit/changelog.md
  src/power-bi/storage/Shared.Dataset/definition/tables/ReservationRecommendations.tmdl
Labels: Tool: Power BI, Needs: Review 👀

#1485 Fix marketing site broken links
  docs/help.md
Labels: Skill: Documentation, Micro PR 🔬, Needs: Review 👀

#1483 Add-FinOpsServicePrincipal docs
  docs-mslearn/toolkit/changelog.md
  docs-mslearn/toolkit/powershell/hubs/Add-FinOpsServicePrincipal.md
  src/powershell/Public/Add-FinOpsHubScope
  src/powershell/Public/Add-FinOpsServicePrincipal
  src/powershell/Public/Add-FinOpsServicePrincipal.ps1
Labels: Skill: Documentation, Needs: Review 👀, Tool: FinOps hubs, OKR: 2.1 Adoption

#1482 Workaround subnets reordering and bicep limitation
  docs-mslearn/toolkit/changelog.md
  src/templates/finops-hub/modules/vnet.bicep
Labels: Micro PR 🔬, Needs: Review 👀

#1489 [Hub apps] Create the hub-app module for app registration
  docs-mslearn/toolkit/changelog.md
  src/templates/finops-hub/modules/hub-app.bicep
  src/templates/finops-hub/modules/hub.bicep
Labels: Skill: Deployment, Needs: Review 👀, Tool: FinOps hubs

#1480 Add schema files and update msexports_ExecuteETL
  src/templates/finops-hub/modules/dataFactory.bicep
  src/templates/finops-hub/modules/storage.bicep
  src/templates/finops-hub/schemas/actualcost_c360-2025-04.json
  src/templates/finops-hub/schemas/amortizedcost_c360-2025-04.json
Labels: Micro PR 🔬, Needs: Attention 👋, Tool: FinOps hubs

#1505 KQL setup for ActualCosts
  src/templates/finops-hub/modules/scripts/IngestionSetup.kql
Labels: Micro PR 🔬, Needs: Review 👀, Tool: FinOps hubs, Skill: KQL

#1491 Update version for next release
  docs-mslearn/toolkit/changelog.md
  docs/_includes/ftkver.txt
  package-lock.json
  package.json
  src/optimization-engine/ftkver.txt
  src/powershell/Private/Get-VersionNumber.ps1
  src/powershell/Tests/Integration/Toolkit.Tests.ps1
  src/templates/finops-hub/modules/ftkver.txt
  src/templates/finops-workbooks/ftkver.txt
  src/workbooks/.scaffold/ftkver.txt
Labels: Needs: Review 👀, Tool: FinOps hubs

#1510 [AOE] Fixes long-time deallocated VMs remediation runbook skipping eligible VMs
  docs-mslearn/toolkit/changelog.md
  src/optimization-engine/runbooks/remediations/Remediate-LongDeallocatedVMsFiltered.ps1
  src/optimization-engine/runbooks/remediations/Remediate-UnattachedDisksFiltered.ps1
Labels: Needs: Review 👀, Tool: Optimization Engine

#1512 [Hubs/AOE] Deal with duplicate recommendations ingestion
  src/templates/finops-hub/modules/dataFactory.bicep
Labels: Skill: Deployment, Tool: FinOps hubs, Tool: Optimization Engine

#1492 [Hub apps] Create the hub-storage module for storage setup
  docs-mslearn/toolkit/changelog.md
  src/templates/finops-hub/modules/hub-storage.bicep
  src/templates/finops-hub/modules/storage.bicep
Labels: Skill: Deployment, Status: ▶️ Ready, Tool: FinOps hubs

#1497 [Hub apps] Create the hub-vault module for saving secrets
  docs-mslearn/toolkit/changelog.md
  src/templates/finops-hub/modules/hub-vault.bicep
  src/templates/finops-hub/modules/keyVault.bicep
Labels: Skill: Deployment, Status: ▶️ Ready, Tool: FinOps hubs

#1493 [Hub apps] Create the hub-event-trigger module for creating ADF triggers
  docs-mslearn/toolkit/changelog.md
  src/templates/finops-hub/modules/dataFactory.bicep
  src/templates/finops-hub/modules/hub-event-trigger.bicep
Labels: Skill: Deployment, Status: ▶️ Ready, Tool: FinOps hubs

#1511 FinOps alerts fix for deployment bug
  docs-mslearn/toolkit/changelog.md
  src/templates/finops-alerts/modules/logicApp.bicep
Labels: Micro PR 🔬, Skill: Deployment, Status: ▶️ Ready

#1515 Add Learning FOCUS Purchase blog post
  docs-mslearn/focus/what-is-focus.md
Labels: Micro PR 🔬, Needs: Review 👀, Tool: FinOps guide

#1518 Fix typo
  src/templates/finops-hub/modules/scripts/IngestionSetup.kql
Labels: Micro PR 🔬, Needs: Review 👀, Tool: FinOps hubs, Skill: KQL

#1517 Update FinOps alerts bicep
  src/templates/finops-alerts/modules/logicApp.bicep
Labels: Micro PR 🔬, Skill: Deployment, Needs: Review 👀

#1525 Support doc cleanup
  docs-mslearn/toolkit/help/support.md
Labels: Micro PR 🔬, Needs: Review 👀

#1531 [AOE] Fix for right-size recommendations issue when current SKU UncachedDiskBytesPerSecond is greater than Int.MaxValue
  docs-mslearn/toolkit/changelog.md
  src/optimization-engine/runbooks/recommendations/Recommend-AdvisorCostAugmentedToBlobStorage.ps1
Labels: Micro PR 🔬, Status: ▶️ Ready, Tool: Optimization Engine

#1533 [AOE] Removes Log Analytics naming validation logic in deployment script
  docs-mslearn/toolkit/changelog.md
  src/optimization-engine/Deploy-AzureOptimizationEngine.ps1
Labels: Micro PR 🔬, Status: ▶️ Ready, Tool: Optimization Engine

#1425 gmurphy-finops-toolkit-xcloud-gcp-pipeline
  docs-mslearn/focus/what-is-focus.md
  docs-mslearn/toolkit/changelog.md
  docs-mslearn/toolkit/help/support.md
  docs-mslearn/toolkit/power-bi/media/rate-optimization/reservation-recommendations.png
  docs/README.md
  docs/_includes/ftkver.txt
  package-lock.json
  package.json
  src/optimization-engine/Deploy-AzureOptimizationEngine.ps1
  src/optimization-engine/ftkver.txt
  src/optimization-engine/runbooks/recommendations/Recommend-AdvisorCostAugmentedToBlobStorage.ps1
  src/optimization-engine/runbooks/remediations/Remediate-LongDeallocatedVMsFiltered.ps1
  src/optimization-engine/runbooks/remediations/Remediate-UnattachedDisksFiltered.ps1
  src/optimization-engine/views/workbooks/reservations-usage.json
  src/powershell/Private/Get-VersionNumber.ps1
  src/powershell/Private/Invoke-Rest.ps1
  src/powershell/Public/Initialize-FinOpsHubFabricWorkspace.ps1
  src/powershell/Tests/Integration/Toolkit.Tests.ps1
  src/powershell/en-US/FinOpsToolkit.strings.psd1
  src/templates/finops-alerts/modules/logicApp.bicep
  src/templates/finops-hub/modules/dataFactory.bicep
  src/templates/finops-hub/modules/ftkver.txt
  src/templates/finops-hub/modules/googleCloud.bicep
  src/templates/finops-hub/modules/hub-app.bicep
  src/templates/finops-hub/modules/hub-event-trigger.bicep
  src/templates/finops-hub/modules/hub-storage.bicep
  src/templates/finops-hub/modules/hub-vault.bicep
  src/templates/finops-hub/modules/hub.bicep
  src/templates/finops-hub/modules/keyVault.bicep
  src/templates/finops-hub/modules/scripts/IngestionSetup.kql
  src/templates/finops-hub/modules/scripts/Upload-StorageFile.ps1
  src/templates/finops-hub/modules/storage.bicep
  src/templates/finops-hub/schemas/actualcost_c360-2025-04.json
  src/templates/finops-hub/schemas/amortizedcost_c360-2025-04.json
  src/templates/finops-hub/schemas/googlecloud-focuscost_1.0.json
  src/templates/finops-workbooks/ftkver.txt
  src/workbooks/.scaffold/ftkver.txt
Labels: Skill: Deployment, Needs: Review 👀, Tool: FinOps hubs

#1478 FinOps Framework Domain Updates 2025
  docs-mslearn/TOC.yml
  docs-mslearn/framework/capabilities.md
  docs-mslearn/framework/finops-framework.md
  docs-mslearn/framework/manage/education.md
  docs-mslearn/framework/manage/manage-finops.md
  docs-mslearn/framework/optimize/optimize-cloud-usage-cost.md
  docs-mslearn/framework/quantify/quantify-business-value.md
  docs-mslearn/framework/understand/understand-cloud-usage-cost.md
  docs-mslearn/index.yml
Labels: Status: ▶️ Ready

#1538 Updating FinOps framework content on scopes and adjusting definition
  docs-mslearn/framework/finops-framework.md
  docs-mslearn/overview.md
  docs-mslearn/toolkit/changelog.md
Labels: Status: ▶️ Ready, Tool: FinOps guide

#1522 Document ADLS requirement for PBI storage
  docs-mslearn/toolkit/changelog.md
  docs-mslearn/toolkit/power-bi/setup.md
Labels: Needs: Review 👀
