Repository microsoft/finops-toolkit, pull requests merged in 2025-02, with the labels that each got.

#1278 Add reviewers for the web app
  .github/policies/pulls-02-reviewers.yml
Labels: Skill: DevOps, Needs: Review 👀, Tool: Web app

#1281 Add ESR and savings breakdown
  src/templates/finops-hub/dashboard.json
Labels: Needs: Review 👀, Tool: FinOps hubs

#1287 Add "1000 TB" pricing unit mapping
  docs/_resources/changelog.md
  src/open-data/PricingUnits.csv
  src/powershell/Private/Get-OpenDataPricingUnit.ps1
Labels: Micro PR 🔬, Needs: Review 👀, Tool: Open data

#1290 Add link to the Resources blog post
  docs/_docs/focus/README.md
Labels: Skill: Documentation, Micro PR 🔬, Needs: Review 👀, Tool: FinOps guide

#1291 Add lundejd as a contributor
  .all-contributorsrc
  README.md
  docs/README.md
Labels: Micro PR 🔬, Needs: Review 👀

#1295 Update open data files
  docs/_resources/changelog.md
  src/open-data/PricingUnits.csv
  src/open-data/Regions.csv
  src/open-data/Services.csv
  src/powershell/Private/Get-OpenDataPricingUnit.ps1
  src/powershell/Private/Get-OpenDataRegion.ps1
  src/powershell/Private/Get-OpenDataService.ps1
Labels: Micro PR 🔬, Needs: Review 👀, Tool: Open data

#1289 Add monthstring() and datestring() KQL functions
  docs/_resources/changelog.md
  src/templates/finops-hub/modules/scripts/Common.kql
Labels: Needs: Review 👀, Tool: FinOps hubs

#1303 Add chart title to the savings chart
  src/power-bi/kql/RateOptimization.Report/report.json
  src/power-bi/storage/RateOptimization.Report/report.json
Labels: Micro PR 🔬, Tool: Power BI, Needs: Review 👀

#1305 Align storage/KQL report models
  src/power-bi/kql/Shared.Dataset/DAXQueries/.pbi/daxQueries.json
  src/power-bi/kql/Shared.Dataset/DAXQueries/Query 1.dax
  src/power-bi/kql/Shared.Dataset/definition/cultures/en-US.tmdl
  src/power-bi/kql/Shared.Dataset/definition/expressions.tmdl
  src/power-bi/kql/Shared.Dataset/definition/model.tmdl
  src/power-bi/storage/Shared.Dataset/definition/cultures/en-US.tmdl
  src/power-bi/storage/Shared.Dataset/definition/expressions.tmdl
  src/power-bi/storage/Shared.Dataset/definition/model.tmdl
  src/power-bi/storage/Shared.Dataset/definition/relationships.tmdl
  src/power-bi/storage/Shared.Dataset/definition/tables/AdvisorRecommendations.tmdl
  src/power-bi/storage/Shared.Dataset/definition/tables/Costs.tmdl
  src/power-bi/storage/Shared.Dataset/definition/tables/Disks.tmdl
  src/power-bi/storage/Shared.Dataset/definition/tables/ReservationRecommendations.tmdl
  src/power-bi/storage/Shared.Dataset/definition/tables/Resources.tmdl
  src/power-bi/storage/Shared.Dataset/definition/tables/StorageData.tmdl
Labels: Tool: Power BI, Needs: Review 👀

#1311 Add Power BI build script
  src/scripts/Build-PowerBI.ps1
  src/scripts/Package-Toolkit.ps1
Labels: Skill: DevOps, Needs: Review 👀

#1262 Updated topmenubar + related files + tests
  src/web/components/TopMenuBar.tsx
  src/web/components/TopMenuBar/TopMenuBar.css
  src/web/components/TopMenuBar/TopMenuBar.tsx
  src/web/components/__tests__/TopMenuBar.test.tsx
  src/web/components/__tests__/__snapshots__/TopMenuBar.test.tsx.snap
  src/web/jest.config.cjs
  src/web/package-lock.json
  src/web/package.json
  src/web/pages/SamplePage.tsx
  src/web/pages/__tests__/SamplePage.test.tsx
  src/web/pages/__tests__/TopMenuBar.test.tsx
  src/web/tsconfig.json
Labels: Micro PR 🔬, Needs: Review 👀, Tool: Web app

#1321 [UX] Add Storybook and Showcase component
  src/web/.gitignore
  src/web/.storybook/main.ts
  src/web/.storybook/preview.tsx
  src/web/components/Showcase/Showcase.css
  src/web/components/Showcase/Showcase.tsx
  src/web/package-lock.json
  src/web/package.json
  src/web/pages/SamplePage.tsx
  src/web/public/InTheCloud.png
  src/web/public/ShowcaseBackground.png
  src/web/stories/Showcase.stories.ts
Labels: Needs: Review 👀, Tool: Web app
