Repository microsoft/finops-toolkit, pull requests merged in 2025-01, with the labels that each got.

#1207 Cost Optimization Workbook - December update
  docs/_resources/changelog.md
  src/workbooks/optimization/AHB/AHB.workbook
  src/workbooks/optimization/Compute/Compute.workbook
  src/workbooks/optimization/CostOptimization.workbook
  src/workbooks/optimization/Storage/Storage.workbook
Labels: Status: ▶️ Ready, Tool: Workbooks, Tool: Optimization workbook

#1199 PR for [UX] Fixed merge conflict related issues from previous PR#1077
  src/web/components/SideBar.tsx
  src/web/components/TopMenuBar.tsx
  src/web/package-lock.json
  src/web/package.json
  src/web/pages/App.tsx
  src/web/pages/PowerBIReportsPage.tsx
  src/web/tsconfig.json
Labels: Status: ▶️ Ready, Tool: Web app

#1232 Add Learning FOCUS blog series to docs
  docs/_docs/focus/README.md
  docs/_resources/changelog.md
Labels: Skill: Documentation, Micro PR 🔬, Needs: Review 👀

#1223 Document VM coverage query
  docs-mslearn/best-practices/compute.md
Labels: Micro PR 🔬, Needs: Review 👀

#1256 Clarify documentation about additional LA workspaces in the scope of AOE
  docs/_optimize/optimization-engine/configuring-workspaces.md
Labels: Skill: Documentation, Needs: Review 👀, Tool: Optimization Engine

#1230 Document changes for configuring exports
  docs/_reporting/hubs/configure-scopes.md
  docs/_resources/changelog.md
Labels: Skill: Documentation, Micro PR 🔬, Needs: Review 👀

#1234 ADX dashboard starter
  docs/_resources/changelog.md
  src/templates/finops-hub/dashboard.json
Labels: Needs: Review 👀, Tool: FinOps hubs

#1235 Update KQL numberstring() function to support decimals
  docs/_resources/changelog.md
  src/templates/finops-hub/modules/scripts/Common.kql
Labels: Micro PR 🔬

#1243 Update Deploy-FinOpsHub.ps1
  src/powershell/Public/Deploy-FinOpsHub.ps1
Labels: Micro PR 🔬, Needs: Review 👀, Tool: PowerShell, Tool: FinOps hubs

#1249 Add DNS resolver resource type display names
  docs/_resources/changelog.md
  src/open-data/ResourceTypes.Overrides.json
  src/powershell/Private/Get-FinOpsPricingUnitsData.ps1
  src/powershell/Private/Get-FinOpsRegionsData.ps1
  src/powershell/Private/Get-FinOpsServicesData.ps1
  src/powershell/Tests/Unit/Get-FinOpsPricingUnitsData.Tests.ps1
  src/powershell/Tests/Unit/Get-FinOpsRegionsData.Tests.ps1
  src/powershell/Tests/Unit/Get-FinOpsServicesData.Tests.ps1
  src/scripts/Build-OpenData.ps1
Labels: Micro PR 🔬, Needs: Review 👀, Tool: Open data

#1269 Split resource_type() function into smaller files
  src/scripts/Build-OpenData.ps1
  src/scripts/README.md
  src/templates/finops-hub/modules/dataExplorer.bicep
  src/templates/finops-hub/modules/scripts/IngestionSetup.kql
  src/templates/finops-hub/modules/scripts/OpenDataFunctions.kql
  src/templates/finops-hub/modules/scripts/OpenDataFunctions_resource_type_1.kql
  src/templates/finops-hub/modules/scripts/OpenDataFunctions_resource_type_2.kql
  src/templates/finops-hub/modules/scripts/OpenDataFunctions_resource_type_3.kql
  src/templates/finops-hub/modules/scripts/OpenDataFunctions_resource_type_4.kql
Labels: Needs: Review 👀, Tool: FinOps hubs

#1251 Fix bug 1187 - Remove-FinOpsHub PowerShell Command Does Not Accept/Respect "Yes to All
  docs/_resources/changelog.md
  src/powershell/Public/Remove-FinOpsHub.ps1
Labels: Micro PR 🔬, Needs: Review 👀, Tool: PowerShell, Tool: FinOps hubs

#1259 FIx the `New-FinOpsCostExport`
  docs/_resources/changelog.md
  src/powershell/Public/Get-FinOpsCostExport.ps1
  src/powershell/Public/New-FinOpsCostExport.ps1
  src/powershell/Tests/Integration/CostExports.Tests.ps1
Labels: Micro PR 🔬, Needs: Review 👀, Tool: PowerShell

#1263 Changed default trustedExternalTenants to 'My tenant only' (empty array) instead of 'All tenants' ('*')
  docs/_resources/changelog.md
  src/templates/finops-hub/modules/dataExplorer.bicep
  src/templates/finops-hub/modules/hub.bicep
Labels: Micro PR 🔬, Needs: Review 👀

#1277 Dependencies for opendata functions
  src/templates/finops-hub/modules/dataExplorer.bicep
Labels: Type: Bug 🐛, Status: 🔬 Code review, Skill: Deployment, Needs: Review 👀, Tool: FinOps hubs, Resolution: Automerge, Hotfix 🔥
