Repository microsoft/finops-toolkit, pull requests merged in 2025-03, with the labels that each got.

#1354 Update version to 0.9-dev
  docs-mslearn/toolkit/changelog.md
  docs/README.md
  docs/_includes/components/site_nav.html
  docs/_includes/ftkver.txt
  docs/bicep.md
  docs/guide.md
  docs/help.md
  docs/hubs.md
  docs/open-data.md
  docs/optimization-engine.md
  docs/power-bi.md
  docs/powershell.md
  docs/workbooks.md
  package-lock.json
  package.json
  src/optimization-engine/ftkver.txt
  src/power-bi/kql/CostSummary.Report/report.json
  src/power-bi/kql/DataIngestion.Report/report.json
  src/power-bi/kql/Governance.Report/report.json
  src/power-bi/kql/RateOptimization.Report/report.json
  src/power-bi/kql/WorkloadOptimization.Report/report.json
  src/power-bi/storage/CostSummary.Report/report.json
  src/power-bi/storage/DataIngestion.Report/report.json
  src/power-bi/storage/Governance.Report/report.json
  src/power-bi/storage/RateOptimization.Report/report.json
  src/power-bi/storage/WorkloadOptimization.Report/report.json
  src/powershell/Private/Get-VersionNumber.ps1
  src/powershell/Tests/Integration/Toolkit.Tests.ps1
  src/scripts/Build-PowerBI.ps1
  src/scripts/Build-Toolkit.ps1
  src/templates/finops-hub/dashboard.json
  src/templates/finops-hub/modules/ftkver.txt
  src/templates/finops-workbooks/ftkver.txt
  src/workbooks/.scaffold/ftkver.txt
Labels: Needs: Review 👀

#1328 Add Power BI build script
  src/scripts/Build-PowerBI.ps1
  src/templates/finops-hub/modules/scripts/IngestionSetup.kql
Labels: Skill: DevOps, Needs: Review 👀

#1299 Update merge script to be less noisy
  src/scripts/Merge-DevBranch.ps1
Labels: Skill: DevOps, Needs: Review 👀

#1379 Fix scopes object array in settings.json
  docs-mslearn/toolkit/changelog.md
  src/templates/finops-hub/modules/scripts/Copy-FileToAzureBlob.ps1
Labels: Micro PR 🔬, Needs: Review 👀, Tool: FinOps hubs

#1347 Update images per style guides
  docs-mslearn/toolkit/hubs/media/private-networking/finops-hubs-network-peering.png
  docs-mslearn/toolkit/hubs/media/private-networking/finops-hubs-private-network.png
  docs-mslearn/toolkit/hubs/media/private-networking/finops-hubs-public-network.png
  docs-mslearn/toolkit/hubs/private-networking.md
  src/templates/finops-hub/docs/FTK Networking.vsdx
Labels: Skill: Documentation, Skill: Deployment, Needs: Review 👀, Tool: FinOps hubs

#1384 [PR] for [UX] #1082 HomePage Layout and Components added
  src/web/components/Contributors/Contributors.css
  src/web/components/Contributors/Contributors.tsx
  src/web/components/ToolsCatalog/ToolsCatalog.tsx
  src/web/components/WhatsNew/WhatsNew.tsx
  src/web/pages/App.tsx
  src/web/pages/HomePage.tsx
  src/web/pages/SamplePage.tsx
  src/web/pages/__tests__/App.test.tsx
  src/web/pages/__tests__/HomePage.test.tsx
  src/web/pages/__tests__/SamplePage.test.tsx
  src/web/public/costmgmtfinopsbg.png
  src/web/public/costopt.svg
  src/web/public/finopshubs.svg
  src/web/public/learning.svg
  src/web/public/opendata.svg
  src/web/public/powerbi.svg
  src/web/public/powershell.svg
  src/web/public/tools.svg
Labels: Needs: Review 👀, Tool: Web app

#1374 Fix Total savings and AHB reports
  docs-mslearn/toolkit/changelog.md
  docs-mslearn/toolkit/help/errors.md
  docs-mslearn/toolkit/powershell/cost/New-FinOpsCostExport.md
  src/power-bi/kql/RateOptimization.Report/report.json
  src/power-bi/kql/Shared.Dataset/definition/cultures/en-US.tmdl
  src/power-bi/kql/Shared.Dataset/definition/expressions.tmdl
  src/power-bi/kql/Shared.Dataset/definition/model.tmdl
  src/power-bi/kql/Shared.Dataset/definition/tables/Costs.tmdl
  src/power-bi/storage/RateOptimization.Report/report.json
  src/power-bi/storage/Shared.Dataset/definition/cultures/en-US.tmdl
  src/power-bi/storage/Shared.Dataset/definition/model.tmdl
  src/power-bi/storage/Shared.Dataset/definition/tables/Costs.tmdl
  src/scripts/Build-PowerBI.ps1
Labels: Tool: Power BI, Needs: Review 👀

#1375 Fix FOCUS link in marketing site
  docs/guide.md
Labels: Skill: Documentation, Micro PR 🔬, Needs: Review 👀, Tool: FinOps guide

#1376 Update error doc
  docs-mslearn/toolkit/help/errors.md
Labels: Skill: Documentation, Micro PR 🔬, Needs: Review 👀

#1377 Fix marketing site dark mode colors
  docs/README.md
  docs/_sass/color_schemes/dark.scss
  docs/_sass/custom/custom.scss
  docs/bicep.md
  docs/guide.md
  docs/hubs.md
  docs/open-data.md
  docs/optimization-engine.md
  docs/power-bi.md
  docs/powershell.md
  docs/workbooks.md
Labels: Skill: Documentation, Needs: Review 👀

#1394 Remove the MI Contributor role assignment for hubs deployments
  docs-mslearn/toolkit/changelog.md
  docs-mslearn/toolkit/hubs/template.md
  docs-mslearn/toolkit/hubs/upgrade.md
  docs/hubs.md
  src/templates/finops-hub/modules/dataExplorer.bicep
  src/templates/finops-hub/modules/dataFactory.bicep
  src/templates/finops-hub/modules/storage.bicep
Labels: Needs: Review 👀, Tool: FinOps hubs

#1399 Add ConflictError doc
  docs-mslearn/toolkit/help/errors.md
Labels: Micro PR 🔬, Needs: Review 👀

#1382 Apply tagsByResource to the stop triggers script
  docs-mslearn/toolkit/changelog.md
  docs-mslearn/toolkit/hubs/data-processing.md
  src/templates/finops-hub/modules/dataFactory.bicep
Labels: Needs: Review 👀

#1282 Add Fluent 9 theme
  src/power-bi/FinOpsToolkitLight.json
  src/web/FinOpsToolkitTheme.ts
  src/web/ftk-dark.json
  src/web/ftk-light.json
Labels: Needs: Review 👀, Tool: Web app

#1334 2025 roadmap
  docs-mslearn/toolkit/roadmap.md
Labels: Skill: Documentation, Needs: Review 👀

#1130 Adding Advisor and Resource Graph recommendations exports to Hubs
  src/templates/finops-hub/modules/azuretimezones.bicep
  src/templates/finops-hub/modules/dataFactory.bicep
  src/templates/finops-hub/modules/scripts/Copy-FileToAzureBlob.ps1
  src/templates/finops-hub/modules/scripts/HubSetup.kql
  src/templates/finops-hub/modules/scripts/HubsRecommendations-AdvisorCost.json
  src/templates/finops-hub/modules/scripts/HubsRecommendations-BackendlessAppGateways.json
  src/templates/finops-hub/modules/scripts/HubsRecommendations-BackendlessLoadBalancers.json
  src/templates/finops-hub/modules/scripts/HubsRecommendations-EmptySQLElasticPools.json
  src/templates/finops-hub/modules/scripts/HubsRecommendations-NonSpotAKSClusters.json
  src/templates/finops-hub/modules/scripts/HubsRecommendations-SQLVMsWithoutAHB.json
  src/templates/finops-hub/modules/scripts/HubsRecommendations-StoppedVMs.json
  src/templates/finops-hub/modules/scripts/HubsRecommendations-UnattachedDisks.json
  src/templates/finops-hub/modules/scripts/HubsRecommendations-UnattachedPublicIPs.json
  src/templates/finops-hub/modules/scripts/HubsRecommendations-VMsWithoutAHB.json
  src/templates/finops-hub/modules/scripts/IngestionSetup.kql
  src/templates/finops-hub/modules/storage.bicep
  src/templates/finops-hub/schemas/recommendations_1.0.json
Labels: Needs: Review 👀, Tool: FinOps hubs

#1385 FinOps Alert bicep
  docs-mslearn/toolkit/changelog.md
  docs-mslearn/toolkit/hubs/data-processing.md
  src/power-bi/FinOpsToolkitLight.json
  src/templates/finops-alerts/createUiDefinition.json
  src/templates/finops-alerts/main.bicep
  src/templates/finops-alerts/modules/logicApp.bicep
  src/templates/finops-hub/modules/dataFactory.bicep
  src/web/FinOpsToolkitTheme.ts
  src/web/ftk-dark.json
  src/web/ftk-light.json
Labels: Breaking change 🚨, Skill: Deployment, Needs: Review 👀

#1373 Clean up ADX dashboard functions
  src/templates/finops-hub/dashboard.json
Labels: Needs: Review 👀, Tool: FinOps hubs

#1389 Handle spaces in tag keys
  docs-mslearn/toolkit/changelog.md
  docs-mslearn/toolkit/help/errors.md
  docs-mslearn/toolkit/powershell/cost/New-FinOpsCostExport.md
  src/power-bi/kql/CostSummary.Report/report.json
  src/power-bi/kql/Shared.Dataset/definition/tables/Costs.tmdl
  src/power-bi/storage/RateOptimization.Report/report.json
  src/power-bi/storage/Shared.Dataset/definition/expressions.tmdl
  src/power-bi/storage/Shared.Dataset/definition/model.tmdl
  src/power-bi/storage/Shared.Dataset/definition/tables/Costs.tmdl
  src/power-bi/storage/Shared.Dataset/definition/tables/ReservationRecommendations.tmdl
Labels: Micro PR 🔬, Tool: Power BI, Needs: Review 👀

#1405 Remove ADX trusted external tenants
  docs-mslearn/toolkit/changelog.md
  docs-mslearn/toolkit/help/errors.md
  docs-mslearn/toolkit/hubs/upgrade.md
  src/templates/finops-hub/modules/dataExplorer.bicep
  src/templates/finops-hub/modules/hub.bicep
Labels: Micro PR 🔬, Needs: Review 👀, Tool: FinOps hubs

#1406 Only deploy key vault for remote hubs
  docs-mslearn/toolkit/changelog.md
  docs-mslearn/toolkit/hubs/template.md
  src/templates/finops-hub/modules/dataFactory.bicep
  src/templates/finops-hub/modules/hub.bicep
Labels: Micro PR 🔬, Skill: Deployment, Needs: Review 👀, Tool: FinOps hubs

#1411 Governing board updates from Mar 19 board meeting
  .all-contributorsrc
  README.md
  docs-wiki/Governing-board.md
  docs/README.md
Labels: Needs: Review 👀, OKR: 4.3 Board + council

#1422 Specify file type on resource types download buttons
  docs-mslearn/toolkit/open-data.md
Labels: Micro PR 🔬, Needs: Review 👀, Tool: Open data

#1442 Update configure-dashboards.md to solve issue #1335
  docs-mslearn/toolkit/hubs/configure-dashboards.md
Labels: Needs: Review 👀

#1436 Handle missing/incorrect costs in savings calculations
  docs-mslearn/toolkit/changelog.md
  src/power-bi/kql/RateOptimization.Report/report.json
  src/power-bi/kql/Shared.Dataset/definition/tables/Costs.tmdl
  src/templates/finops-hub/dashboard.json
Labels: Needs: Review 👀

#1434 Fix release year for v0.8 update 1 in changelog
  docs-mslearn/toolkit/changelog.md
Labels: Needs: Review 👀

#1433 documentation update - steps to update from v0.7 to v0.8
  docs-mslearn/toolkit/hubs/upgrade.md
Labels: Needs: Review 👀

#1421 Fix AHB core count in storage reports
  src/power-bi/storage/Shared.Dataset/definition/tables/Costs.tmdl
Labels: Micro PR 🔬, Tool: Power BI, Needs: Review 👀

#1431 [AOE] Fix issues with tag duplicates (case sensitive) after tag inheritance
  docs-mslearn/toolkit/changelog.md
  src/optimization-engine/runbooks/recommendations/Recommend-StorageAccountOptimizationsToBlobStorage.ps1
Labels: Status: ▶️ Ready, Tool: Optimization Engine

#1427 FinOps alerts code updates
  src/templates/finops-alerts/modules/logicApp.bicep
Labels: Micro PR 🔬, Skill: Deployment, Status: ▶️ Ready

#1396 Upload marketing page for FinOps alerts
  docs/finops-alerts.md
Labels: Skill: Documentation, Status: ▶️ Ready

#1415 Managed exports v2
  docs-mslearn/toolkit/changelog.md
  docs-mslearn/toolkit/help/errors.md
  docs-mslearn/toolkit/hubs/configure-scopes.md
  src/templates/finops-hub/modules/dataFactory.bicep
Labels: Type: Feature 💎, Status: ▶️ Ready, Tool: FinOps hubs

#1447 Update all FinOps alerts docs and code
  docs-mslearn/toolkit/alerts/configure-finops-alerts.md
  docs-mslearn/toolkit/changelog.md
  docs/finops-alerts.md
  src/logic-apps/waste-reduction/README.md
  src/logic-apps/waste-reduction/createUIDefinition.json
  src/logic-apps/waste-reduction/main.bicep
  src/logic-apps/waste-reduction/metadata.json
  src/templates/finops-alerts/modules/logicApp.bicep
Labels: Micro PR 🔬, Skill: Deployment, Needs: Review 👀

#1448 Delete docs/_automation/waste-reduction-logic-app directory
  docs/_automation/waste-reduction-logic-app/README.md
  docs/_automation/waste-reduction-logic-app/images/Authorize-&-Save.png
  docs/_automation/waste-reduction-logic-app/images/Azure-role-assignment.png
  docs/_automation/waste-reduction-logic-app/images/Edit-API-connection.png
  docs/_automation/waste-reduction-logic-app/images/Logic-app-designer.png
  docs/_automation/waste-reduction-logic-app/images/System-assigned-identity.png
Labels: Skill: Documentation, Micro PR 🔬, Needs: Review 👀

#1381 Disable extra storage query optimizations by default
  docs-mslearn/toolkit/changelog.md
  docs-mslearn/toolkit/power-bi/setup.md
  docs/power-bi.md
  src/power-bi/storage/RateOptimization.Report/report.json
  src/power-bi/storage/Shared.Dataset/definition/expressions.tmdl
Labels: Tool: Power BI, Needs: Review 👀

#1437 Advisory council updates
  .all-contributorsrc
  README.md
  docs-wiki/Advisory-council.md
  docs/README.md
Labels: Micro PR 🔬, Needs: Review 👀, OKR: 4.3 Board + council

#1319 Hubs dashboard CD chargeback updates
  src/templates/finops-hub/dashboard.json
Labels: Micro PR 🔬, Needs: Review 👀, Tool: FinOps hubs

#1450 Merge features/alerts into dev
  docs-mslearn/toolkit/alerts/configure-finops-alerts.md
  docs-mslearn/toolkit/alerts/finops-alerts-overview.md
  docs-mslearn/toolkit/alerts/media/configure-finops-alerts/authorize-api-connection.png
  docs-mslearn/toolkit/changelog.md
  docs/finops-alerts.md
  src/templates/finops-alerts/createUiDefinition.json
  src/templates/finops-alerts/main.bicep
  src/templates/finops-alerts/modules/logicApp.bicep
Labels: Needs: Review 👀

#1402 Fix MCA reservation recommendation export ingestion
  docs-mslearn/toolkit/changelog.md
  docs-mslearn/toolkit/help/errors.md
  docs-mslearn/toolkit/hubs/data-processing.md
  src/open-data/Regions.csv
  src/open-data/dataset-examples/MCA-Reservations-Details.csv
  src/open-data/dataset-examples/MCA-Reservations-Recommendations.csv
  src/open-data/dataset-examples/MCA-Reservations-Transactions.csv
  src/power-bi/storage/Shared.Dataset/definition/expressions.tmdl
  src/power-bi/storage/Shared.Dataset/definition/tables/ReservationRecommendations.tmdl
  src/powershell/Private/Get-OpenDataRegion.ps1
  src/templates/finops-hub/modules/dataFactory.bicep
  src/templates/finops-hub/modules/scripts/IngestionSetup.kql
  src/templates/finops-hub/schemas/reservationrecommendations_2023-05-01_mca.json
Labels: Tool: Power BI, Needs: Review 👀, Tool: FinOps hubs, Tool: Open data

#1429 Ingesting ARG-based recommendations into ADX and addressing schema feedback
  docs-mslearn/toolkit/changelog.md
  docs-mslearn/toolkit/hubs/data-processing.md
  src/power-bi/FinOpsToolkitLight.json
  src/templates/finops-hub/modules/dataFactory.bicep
  src/templates/finops-hub/modules/scripts/Copy-FileToAzureBlob.ps1
  src/templates/finops-hub/modules/scripts/HubsRecommendations-AdvisorCost.json
  src/templates/finops-hub/modules/scripts/HubsRecommendations-BackendlessAppGateways.json
  src/templates/finops-hub/modules/scripts/HubsRecommendations-BackendlessLoadBalancers.json
  src/templates/finops-hub/modules/scripts/HubsRecommendations-EmptySQLElasticPools.json
  src/templates/finops-hub/modules/scripts/HubsRecommendations-NonSpotAKSClusters.json
  src/templates/finops-hub/modules/scripts/HubsRecommendations-SQLVMsWithoutAHB.json
  src/templates/finops-hub/modules/scripts/HubsRecommendations-StoppedVMs.json
  src/templates/finops-hub/modules/scripts/HubsRecommendations-UnattachedDisks.json
  src/templates/finops-hub/modules/scripts/HubsRecommendations-UnattachedPublicIPs.json
  src/templates/finops-hub/modules/scripts/HubsRecommendations-VMsWithoutAHB.json
  src/templates/finops-hub/modules/scripts/IngestionSetup.kql
  src/templates/finops-hub/schemas/recommendations_1.0.json
  src/web/FinOpsToolkitTheme.ts
  src/web/ftk-dark.json
  src/web/ftk-light.json
Labels: Status: ▶️ Ready, Tool: FinOps hubs, Tool: Optimization Engine

#1453 Address known cost/price data quality issues
  docs-mslearn/toolkit/changelog.md
  docs-mslearn/toolkit/help/errors.md
  docs-mslearn/toolkit/hubs/data-processing.md
  src/templates/finops-hub/modules/scripts/IngestionSetup.kql
Labels: Needs: Review 👀, Tool: FinOps hubs, Skill: KQL

#1440 Disk query update
  docs-mslearn/toolkit/changelog.md
  src/power-bi/kql/Governance.Report/definition.pbir
  src/power-bi/kql/Governance.Report/report.json
  src/power-bi/kql/Shared.Dataset/definition/cultures/en-US.tmdl
  src/power-bi/kql/Shared.Dataset/definition/model.tmdl
  src/power-bi/kql/Shared.Dataset/definition/tables/Disks.tmdl
  src/power-bi/storage/Governance.Report/report.json
  src/power-bi/storage/Shared.Dataset/definition/cultures/en-US.tmdl
  src/power-bi/storage/Shared.Dataset/definition/model.tmdl
  src/power-bi/storage/Shared.Dataset/definition/relationships.tmdl
  src/power-bi/storage/Shared.Dataset/definition/tables/Disks.tmdl
  src/power-bi/storage/Shared.Dataset/diagramLayout.json
Labels: Tool: Power BI, Needs: Review 👀
