Repository microsoft/finops-toolkit, pull requests merged in 2025-07, with the labels that each got.

#1737 [AOE] Fixes link to Power BI report
  docs-mslearn/toolkit/changelog.md
  docs-mslearn/toolkit/optimization-engine/reports.md
Labels: Micro PR 🔬, Needs: Review 👀, Tool: Optimization Engine

#1746 Open data updates for Jun 2025
  docs-mslearn/toolkit/changelog.md
  docs/svg/microsoft.apicenter/services.svg
  docs/svg/microsoft.apicenter/services/workspaces.svg
  docs/svg/microsoft.apimanagement/gateways.svg
  docs/svg/microsoft.app/agents.svg
  docs/svg/microsoft.avs/privateclouds.svg
  docs/svg/microsoft.billing/billingaccounts/incentiveschedules.svg
  docs/svg/microsoft.billing/billingaccounts/incentiveschedules/milestones.svg
  docs/svg/microsoft.billing/billingaccounts/savingsplanorders.svg
  docs/svg/microsoft.billing/billingaccounts/savingsplanorders/savingsplans.svg
  docs/svg/microsoft.billingbenefits/credits.svg
  docs/svg/microsoft.billingbenefits/discounts.svg
  docs/svg/microsoft.billingbenefits/incentiveschedules.svg
  docs/svg/microsoft.billingbenefits/incentiveschedules/milestones.svg
  docs/svg/microsoft.billingbenefits/maccs.svg
  docs/svg/microsoft.billingbenefits/savingsplanorders.svg
  docs/svg/microsoft.billingbenefits/savingsplanorders/savingsplans.svg
  docs/svg/microsoft.capacity/reservationorders.svg
  docs/svg/microsoft.capacity/reservationorders/reservations.svg
  docs/svg/microsoft.cdn/profiles.svg
  docs/svg/microsoft.digitaltwins/digitaltwinsinstances.svg
  docs/svg/microsoft.edgeorder/addresses.svg
  docs/svg/microsoft.edgeorder/bootstrapconfigurations.svg
  docs/svg/microsoft.edgeorder/orderitems.svg
  docs/svg/microsoft.edgeorder/virtual_orderitems.svg
  docs/svg/microsoft.elastic/monitors.svg
  docs/svg/microsoft.experimentation/experimentworkspaces.svg
  docs/svg/microsoft.fabric/capacities.svg
  docs/svg/microsoft.healthbot/healthbots.svg
  docs/svg/microsoft.iotfirmwaredefense/workspaces.svg
  docs/svg/microsoft.mixedreality/remoterenderingaccounts.svg
  docs/svg/microsoft.network/dnsforwardingrulesets.svg
  docs/svg/microsoft.network/dnsresolvers.svg
  docs/svg/microsoft.notificationhubs/namespaces.svg
  docs/svg/microsoft.notificationhubs/namespaces/notificationhubs.svg
  docs/svg/microsoft.powerbidedicated/capacities.svg
  docs/svg/microsoft.resources/deletedresources.svg
  docs/svg/neon.postgres/organizations.svg
  docs/svg/oracle.database/autonomousdatabases.svg
  docs/svg/oracle.database/basedb.svg
  docs/svg/oracle.database/cloudexadatainfrastructures.svg
  docs/svg/oracle.database/cloudvmclusters.svg
  docs/svg/oracle.database/exadbvmclusters.svg
  docs/svg/oracle.database/exascaledbstoragevaults.svg
  docs/svg/oracle.database/oraclesubscriptions.svg
  src/open-data/ResourceTypes.csv
  src/open-data/ResourceTypes.json
  src/open-data/Services.csv
  src/powershell/Private/Get-OpenDataResourceType.ps1
  src/powershell/Private/Get-OpenDataService.ps1
  src/templates/finops-hub/modules/scripts/OpenDataFunctions.kql
  src/templates/finops-hub/modules/scripts/OpenDataFunctions_resource_type_1.kql
  src/templates/finops-hub/modules/scripts/OpenDataFunctions_resource_type_2.kql
  src/templates/finops-hub/modules/scripts/OpenDataFunctions_resource_type_3.kql
  src/templates/finops-hub/modules/scripts/OpenDataFunctions_resource_type_4.kql
Labels: Needs: Review 👀

#1739 Move columns from PBI/ADX into the v1_2 schema
  docs-mslearn/toolkit/changelog.md
  docs-mslearn/toolkit/hubs/data-model.md
  docs-mslearn/toolkit/hubs/data-processing.md
  src/power-bi/kql/CostSummary.Report/report.json
  src/power-bi/kql/Invoicing.Report/report.json
  src/power-bi/kql/RateOptimization.Report/report.json
  src/power-bi/kql/Shared.Dataset/definition/cultures/en-US.tmdl
  src/power-bi/kql/Shared.Dataset/definition/model.tmdl
  src/power-bi/kql/Shared.Dataset/definition/tables/Costs.tmdl
  src/power-bi/kql/Shared.Dataset/definition/tables/ReservationRecommendations.tmdl
  src/power-bi/kql/Shared.Dataset/definition/tables/StorageData.tmdl
  src/power-bi/storage/CostSummary.Report/report.json
  src/power-bi/storage/Invoicing.Report/report.json
  src/power-bi/storage/RateOptimization.Report/report.json
  src/templates/finops-hub/dashboard.json
  src/templates/finops-hub/modules/scripts/HubSetup_v1_2.kql
  src/templates/finops-hub/modules/scripts/IngestionSetup_RawTables.kql
  src/templates/finops-hub/modules/scripts/IngestionSetup_v1_2.kql
Labels: Needs: Review 👀

#1743 Fix circular reference in vnet module
  src/templates/finops-hub/modules/infrastructure.bicep
Labels: Micro PR 🔬, Skill: Deployment, Needs: Review 👀, Tool: FinOps hubs

#1763 Add missing open data files
  docs/svg/microsoft.azurestackhci/clusters/updates/updateruns.svg
  docs/svg/microsoft.azurestackhci/clusters/updatesummaries.svg
  docs/svg/microsoft.discovery/agents.svg
  docs/svg/microsoft.discovery/bookshelves.svg
  docs/svg/microsoft.discovery/datacontainers.svg
  docs/svg/microsoft.discovery/datacontainers/dataassets.svg
  docs/svg/microsoft.discovery/models.svg
  docs/svg/microsoft.discovery/supercomputers/nodepools.svg
  docs/svg/microsoft.discovery/tools.svg
  docs/svg/microsoft.discovery/workflows.svg
  docs/svg/microsoft.discovery/workspaces/projects.svg
  docs/svg/microsoft.hybridcompute/arcgatewayassociatedresources.svg
  docs/svg/microsoft.insights/datacollectionrulesresources.svg
  docs/svg/microsoft.loadtestservice/playwrightworkspaces.svg
  docs/svg/microsoft.logic/templates.svg
  docs/svg/microsoft.machinelearningservices/aistudiocreate.svg
  docs/svg/microsoft.machinelearningservices/workspacescreate.svg
  docs/svg/microsoft.maintenance/maintenanceconfigurationsaumbladeresource.svg
  docs/svg/microsoft.updatemanager/updaterules.svg
  docs/svg/microsoft.workloads/workloadinstance.svg
  src/templates/finops-hub/.build.config
  src/templates/finops-hub/modules/dataExplorer.bicep
  src/templates/finops-hub/modules/scripts/OpenDataFunctions_resource_type_5.kql
Labels: Needs: Review 👀

#1771 Deployment fails with error The element for [steps('advanced').networking.enableManagedExports] could not be found in the createuidefinition
  docs/deploy/finops-hub-12.0.ui.json
  docs/deploy/finops-hub-latest.ui.json
  src/templates/finops-hub/createUiDefinition.json
Labels: Type: Bug 🐛, Skill: Documentation, Micro PR 🔬, Needs: Review 👀, Tool: FinOps hubs
